<div class=" container">
  <br>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="ค้นหาชื่อบริษัท..." (keydown)="search($event)">
    <div class="input-group-append">
    </div>
    <button class="btn btn-outline-primary" type="button" (click)="ShowButton()" style="margin-left:20px">เพิ่มบริษัท</button>
  </div>
  <div class="row" style="margin-top:20px;" *ngIf="n==1">
    <div class="col-md-8 col-12 table-border" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;">
      <div class="d-flex justify-content-center" style="background-color: #474544;color: white">
        <h4>บริษัท</h4>
      </div>
      <form style="margin: 10px">
        <div class="form-group">
          <label>ชื่อบริษัท</label>
          <input type="text" class="form-control" name="name_company" [(ngModel)]="formdata.name_company" required>
        </div>
        <div class="form-group">
          <label>รหัสบริษัท</label>
          <input type="text" class="form-control" name="id_company" [(ngModel)]="formdata.id_company" required>
        </div>
          <button type="submit" id="form_button_save" (click)="add(formdata)">เพิ่มข้อมูล</button>
      </form>
    </div>
  </div>
  <!-- labtop -->
  <div class="d-none d-sm-block">
    <div class="row " style="margin-top:20px;">
      <div class="col-md-8 col-12 table-border" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;">
        <div class="d-flex justify-content-center" style="background-color: #474544;color: white">
          <h4>บริษัท</h4>
        </div>
        <table class="table table-hover table-responsive" style="margin: 50px">
          <thead>
            <tr *ngIf="company?.length > 0">
              <th></th>
              <th>รหัสบริษัท</th>
              <th>ชื่อบริษัท</th>
              <th></th>
              <th></th>

            </tr>
          </thead>
          <tbody *ngFor="let data of company | paginate: { itemsPerPage: paginate_num1, currentPage: page1, id: 'first' };let i = index">
            <tr>
              <td>
                <img src="http://apps.softsquaregroup.com/SSeXpenseWeb/assets/company-1.png" class="rounded-circle img-thumbnail" style="width:50px;height:50px">
              </td>
              <td>{{data.id_company}}</td>
              <td>{{data.name_company}}</td>
              <td>
                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#exampleModal" (click)="edit(data)">แก้ไข</button>
              </td>
              <td>
                <button class="btn btn-outline-danger" type="button" (click)="del(data)">ลบ</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row d-flex justify-content-between" *ngIf="company?.length > 0">
          <pagination-controls (pageChange)="page1 = $event" id="first"></pagination-controls>
          <div class="float-right" style="padding-right:20px">
            <label for="NumPaginate1">จำนวนแสดง</label>
            <select id="NumPaginate1" [(ngModel)]="paginate_num1">
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
        <div *ngIf="company?.length < 1">
          <h5 style="margin-left:100px;margin-bottom:100px">ไม่พบข้อมูลการค้นหา!!</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile -->
  <div class="container">
    <div class="row d-block d-sm-none">
      <div class="row " style="margin-top:20px;">
        <div class=" col-12 table-border" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;">
          <div class="d-flex justify-content-center" style="background-color: #474544;color: white">
            <h4>บริษัท</h4>
          </div>
          <table class="table table-hover table-responsive">
            <thead>
              <tr *ngIf="company?.length > 0">
                <!-- <th></th> -->
                <th>รหัสบริษัท</th>
                <th>ชื่อบริษัท</th>
                <th></th>
                <th></th>

              </tr>
            </thead>
            <tbody *ngFor="let data of company | paginate: { itemsPerPage: paginate_num1, currentPage: page1, id: 'first' };let i = index">
              <tr>
                <!-- <td>
                  <img src="http://apps.softsquaregroup.com/SSeXpenseWeb/assets/company-1.png" class="rounded-circle img-thumbnail"
                    style="width:50px;height:50px">
                </td> -->
                <td>{{data.id_company}}</td>
                <td>{{data.name_company}}</td>
                <td>
                  <button class="btn-sm btn-outline-primary" type="button" data-toggle="modal" data-target="#exampleModal" (click)="edit(data)">แก้ไข</button>
                </td>
                <td>
                  <button class="btn-sm btn-outline-danger" type="button" (click)="del(data)">ลบ</button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between" *ngIf="company?.length > 0">
            <pagination-controls (pageChange)="page1 = $event" id="first"></pagination-controls>
          </div>
          <div *ngIf="company?.length < 1">
            <h5 style="margin-left:100px;margin-bottom:100px">ไม่พบข้อมูลการค้นหา!!</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">แก้ไขข้อมูล</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form style="margin: 10px">
            <div class="form-group">
              <label>ชื่อบริษัท</label>
              <input type="text" class="form-control" name="name_company" [(ngModel)]="dataedit.name_company" name="name_company">
            </div>
            <div class="form-group">
              <label>รหัสบริษัท</label>
              <input type="text" class="form-control" name="id_company" [(ngModel)]="dataedit.id_company" name="id_company">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save(dataedit)">บันทึก</button>
        </div>
      </div>
    </div>
  </div>