.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}

#sss {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}

.border-box {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.calendar {
    float: left;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: white;
    border: solid 1px #cccccc;
    margin-bottom: 10px;
}

.calendar div.header {
    float: left;
     width: 100%;
  
    background: #ff9900;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 1.5em;
}
.calendar div.week {
    float: left;
    width: 100%;
    border-top: solid 1px #cccccc;
}
.bg {
    background: #ffcc80 !important;
}
.week .day {
    float: left;
    width: 14.28571429%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: solid 1px #cccccc;
    font-size: 2em;
    text-align: right;
    height: 85px;
    line-height: 50px !important;
    display: inline-block;
    vertical-align: middle;
    background: white;
    cursor: pointer;
    color: black;
}
.week.names .day {
	text-align: center;
    height: 50px;
    
}
.popover-header{
	color:#000!important;
}
.daynumber{
	padding-right: 10px;
}
.calendar div.week .different-month {
    pointer-events: none;
    background: #dddddd;
    color: #C0C0C0;
}
.calendar div.week .day.selected {
    background: #d1ecf1;
    color: #007bff;
}
.marginb{
    margin-bottom: 10px;
	margin-top: 20px;
}
.btnmargin{
    margin-right: 5px;
}
.center{
	text-align: center;
}
.eventdiv {
    margin-bottom: 6px;
    padding: 5px;
    display: flex;
}
.eventdiv button{
	flex-grow: 1;
	padding: 2px 4px;
	margin-right: 2px;
	font-size: 11px;
}
.eventlist{
	height: 528px;
    overflow-y: auto;
}
.btn-circle {
    width: 49px;
    height: 49px;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    line-height: 2.00;
    border-radius: 30px;
  }
  
  .btn-circle-micro {
    width: 19px;
    height: 19px;
    text-align: center;
    padding: 1px 0;
    font-size: 13px;
    line-height: 0.1;
    border-radius: 30px;
  }
  
  .btn-circle-sm {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 2px 0;
    font-size: 20px;
    line-height: 1.65;
    border-radius: 30px;
  }
  
  .btn-circle-lg {
    width: 79px;
    height: 79px;
    text-align: center;
    padding: 13px 0;
    font-size: 30px;
    line-height: 2.00;
    border-radius: 70px;
  }

  *{
    border-radius: 0 !important;
}



.registeration{
    border-top: 5px solid #2196f3;
    -webkit-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    box-shadow: 0px 5px 21px -2px rgba(0,0,0,0.47);
    margin-top: 100px;

}

.registerInner{
 margin: 15px;
}




.form-group{
    width: 100%;
    line-height: 50px;   
}

.signbuttons{
    margin-bottom: 35px;
    border: none;
}

input{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px dotted #2196f3 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}

.headerSign{
    color: #2196f3;
    margin-bottom: 20px;
    text-align: center;
}

.darktext{
    color: #2196f3;
}

.addNewRow {
    border: none;
    background:none;
    color:green;
}
.addNewRow:hover {
    color:#66FF00;
}
.addNewRow:focus {outline:0;}
.deleteRow {
    border: none;
    background:none;
    color:red;
}
.deleteRow:hover {
    color:#FFB5B5;
}
.deleteRow:focus {outline:0;}

.table-border{
    border: 2px solid #474544;
}