<div class=" container">
  <!-- Labtop -->
  <div class="d-none d-sm-block">
      <div class="row justify-content-center">
          <h2>โปรแกรมอนุมัติคำร้อง</h2>
      </div>
  </div>
  <div class="row d-block d-sm-none">
      <div class="row justify-content-center">
          <h5>โปรแกรมอนุมัติคำร้อง</h5>
      </div>
  </div>
  <div class="d-none d-sm-block">
    <div class="row " style="margin-top:20px;">
      <div class="col-md-8 col-12 table-border " style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;">
        <div class="d-flex justify-content-center" style="background-color: #474544;color: white">
          <h4>ค่าเดินทาง</h4>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>วันที่</th>
              <th>เลขที่เอกสาร</th>
              <th>ชื่อ</th>
              <th>ผู้อนุมัติ</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody *ngFor="let tr of approvedata_tr | paginate: { itemsPerPage: paginate_num1, currentPage: page1, id: 'first' };let i = index">
            <tr>
              <td>{{tr.travel.submitdate}}</td>
              <td>
                <button class="btn btn-link" (click)="click_tr(tr)">{{tr.travel.docno}}</button>
              </td>
              <td>{{tr.name}}</td>
              <td>{{profile.name}}</td>
              <td *ngIf="tr.travel.status=='draft'">ไม่อนุมัติ</td>
              <td *ngIf="tr.travel.status=='complet'">อนุมัติ</td>
              <td *ngIf="tr.travel.status=='request'">รออนุมัติ</td>
              <td *ngIf="tr.travel.status==''"></td>
            </tr>
          </tbody>
        </table>
        <div class="row d-flex justify-content-between">
          <pagination-controls (pageChange)="page1 = $event" id="first"></pagination-controls>
          <div class="float-right" style="padding-right:20px">
            <label for="NumPaginate1">จำนวนแสดง</label>
            <select id="NumPaginate1" [(ngModel)]="paginate_num1">
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile -->
  <div class="d-block d-sm-none">
    <div class="row " style="margin-top:20px;">
      <div class="col-md-8 col-12 table-border " style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;">
        <div class="d-flex justify-content-center" style="background-color: #474544;color: white">
          <h4>ค่าเดินทาง</h4>
        </div>
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>วันที่</th>
              <th>เลขที่เอกสาร</th>
              <th>ชื่อ</th>
              <th>ผู้อนุมัติ</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody *ngFor="let tr of approvedata_tr | paginate: { itemsPerPage: paginate_num1, currentPage: page1, id: 'first' };let i = index">
            <tr>
              <td>{{tr.travel.submitdate}}</td>
              <td>
                <button class="btn btn-link" (click)="click_tr(tr)">{{tr.travel.docno}}</button>
              </td>
              <td>{{tr.name}}</td>
              <td>{{profile.name}}</td>
              <td *ngIf="tr.travel.status=='draft'">ไม่อนุมัติ</td>
              <td *ngIf="tr.travel.status=='complet'">อนุมัติ</td>
              <td *ngIf="tr.travel.status=='request'">รออนุมัติ</td>
              <td *ngIf="tr.travel.status==''"></td>
            </tr>
          </tbody>
        </table>
        <div class="row d-flex justify-content-center">
          <pagination-controls (pageChange)="page1 = $event" id="first"></pagination-controls>
          <!-- <div class="float-right" style="padding-right:20px">
                <label for="NumPaginate1">จำนวนแสดง</label>
                <select id="NumPaginate1" [(ngModel)]="paginate_num1">
                  <option value="3">3</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="30">30</option>
                  <option value="50">50</option>
                </select>
              </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- labtop -->
  <div class="d-none d-sm-block">
    <div class="row" style="margin-top:20px">
      <div class="col-md-8 col-12 table-border" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;">
        <div class="d-flex justify-content-center" style="background-color: #474544;color: white">
          <h4>ค่าเบี้ยเลี้ยง</h4>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>วันที่</th>
              <th>เลขที่เอกสาร</th>
              <th>ชื่อ</th>
              <th>ผู้อนุมัติ</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody class="table" *ngFor="let al of approvedata_al | paginate: { itemsPerPage: paginate_num2, currentPage: page2, id: 'second' };let i = index">
            <tr>
              <td>{{al.allowance.submitdate}}</td>
              <td>
                <button class="btn btn-link" (click)="onClick_AL(al)">{{al.allowance.docno}}</button>
              </td>
              <td>{{al.name}}</td>
              <td>{{profile.name}}</td>
              <td *ngIf="al.allowance.status=='draft'">ไม่อนุมัติ</td>
              <td *ngIf="al.allowance.status=='complet'">อนุมัติ</td>
              <td *ngIf="al.allowance.status=='request'">รออนุมัติ</td>
              <td *ngIf="al.allowance.status==''"></td>
            </tr>
          </tbody>
        </table>
        <div class="row d-flex justify-content-between">
          <pagination-controls (pageChange)="page2 = $event" id="second"></pagination-controls>
          <div class="float-right" style="padding-right:20px">
            <label for="NumPaginate2">จำนวนแสดง</label>
            <select id="NumPaginate2" [(ngModel)]="paginate_num2">
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile -->
  <div class="d-block d-sm-none">
    <div class="row" style="margin-top:20px">
      <div class="col-md-8 col-12 table-border" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;">
        <div class="d-flex justify-content-center" style="background-color: #474544;color: white">
          <h4>ค่าเบี้ยเลี้ยง</h4>
        </div>
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>วันที่</th>
              <th>เลขที่เอกสาร</th>
              <th>ชื่อ</th>
              <th>ผู้อนุมัติ</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody class="table" *ngFor="let al of approvedata_al | paginate: { itemsPerPage: paginate_num2, currentPage: page2, id: 'second' };let i = index">
            <tr>
              <td>{{al.allowance.submitdate}}</td>
              <td>
                <button class="btn btn-link" (click)="onClick_AL(al)">{{al.allowance.docno}}</button>
              </td>
              <td>{{al.name}}</td>
              <td>{{profile.name}}</td>
              <td *ngIf="al.allowance.status=='draft'">ไม่อนุมัติ</td>
              <td *ngIf="al.allowance.status=='complet'">อนุมัติ</td>
              <td *ngIf="al.allowance.status=='request'">รออนุมัติ</td>
              <td *ngIf="al.allowance.status==''"></td>
            </tr>
          </tbody>
        </table>
        <div class="row d-flex justify-content-center">
          <pagination-controls (pageChange)="page2 = $event" id="second"></pagination-controls>
          <!-- <div class="float-right" style="padding-right:20px">
              <label for="NumPaginate2">จำนวนแสดง</label>
              <select id="NumPaginate2" [(ngModel)]="paginate_num2">
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
              </select>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- labtop -->
  <div class="d-none d-sm-block">
    <div class="row" style="margin-top:20px">
      <div class="col-md-8 col-12 table-border" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;">
        <div class="d-flex justify-content-center" style="background-color: #474544;color: white">
          <h4>ค่าอื่นๆ</h4>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>วันที่</th>
              <th>เลขที่เอกสาร</th>
              <th>ชื่อ</th>
              <th>ผู้อนุมัติ</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody class="table" *ngFor="let ot of approvedata_ot | paginate: { itemsPerPage: paginate_num3, currentPage: page3, id: 'third' };let i = index">
            <tr>
              <td>{{ot.other.submitdate}}</td>
              <td>
                <button class="btn btn-link" (click)="click_ot(ot)">{{ot.other.docno}}</button>
              </td>
              <td>{{ot.name}}</td>
              <td>{{profile.name}}</td>
              <td *ngIf="ot.other.status=='draft'">ไม่อนุมัติ</td>
              <td *ngIf="ot.other.status=='complet'">อนุมัติ</td>
              <td *ngIf="ot.other.status=='request'">รออนุมัติ</td>
              <td *ngIf="ot.other.status==''"></td>
            </tr>
          </tbody>
        </table>
        <div class="row d-flex justify-content-between">
          <pagination-controls (pageChange)="page3 = $event" id="third"></pagination-controls>
          <div class="float-right" style="padding-right:20px">
            <label for="NumPaginate3">จำนวนแสดง</label>
            <select id="NumPaginate3" [(ngModel)]="paginate_num3">
              <option value="3">3</option>
              <option value="5">5</option>
              <option value="10">10</option>
              <option value="20">20</option>
              <option value="30">30</option>
              <option value="50">50</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- mobile -->
  <div class="d-block d-sm-none">
    <div class="row" style="margin-top:20px">
      <div class="col-md-8 col-12 table-border" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;">
        <div class="d-flex justify-content-center" style="background-color: #474544;color: white">
          <h4>ค่าอื่นๆ</h4>
        </div>
        <table class="table table-hover table-responsive">
          <thead>
            <tr>
              <th>วันที่</th>
              <th>เลขที่เอกสาร</th>
              <th>ชื่อ</th>
              <th>ผู้อนุมัติ</th>
              <th>สถานะ</th>
            </tr>
          </thead>
          <tbody class="table" *ngFor="let ot of approvedata_ot | paginate: { itemsPerPage: paginate_num3, currentPage: page3, id: 'third' };let i = index">
            <tr>
              <td>{{ot.other.submitdate}}</td>
              <td>
                <button class="btn btn-link" (click)="click_ot(ot)">{{ot.other.docno}}</button>
              </td>
              <td>{{ot.name}}</td>
              <td>{{profile.name}}</td>
              <td *ngIf="ot.other.status=='draft'">ไม่อนุมัติ</td>
              <td *ngIf="ot.other.status=='complet'">อนุมัติ</td>
              <td *ngIf="ot.other.status=='request'">รออนุมัติ</td>
              <td *ngIf="ot.other.status==''"></td>
            </tr>
          </tbody>
        </table>
        <div class="row d-flex justify-content-center">
          <pagination-controls (pageChange)="page3 = $event" id="third"></pagination-controls>
          <!-- <div class="float-right" style="padding-right:20px">
              <label for="NumPaginate3">จำนวนแสดง</label>
              <select id="NumPaginate3" [(ngModel)]="paginate_num3">
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
              </select>
            </div> -->
        </div>
      </div>
    </div>
  </div>