<div class=" container-fluid">
  <!-- ปฏิทิน -->
  <div class="d-none d-sm-block">
      <div class="row justify-content-center">
          <h2>โปรแกรมเบิกค่าอื่นๆ</h2>
      </div>
  </div>
  <div class="row d-block d-sm-none">
      <div class="row justify-content-center">
          <h5>โปรแกรมเบิกค่าอื่นๆ</h5>
      </div>
  </div>
  <div class="d-none d-sm-block">
    <div class="btn-group-vertical" data-toggle="buttons" role="group" aria-label="Basic example" style="position: absolute;top:25%;left:10%">
      <div class="example example1">
        <ng-scrollbar class="sample">
          <div *ngFor="let users of total_users">
            <button type="button" class="btn btn-outline-primary" (click)="selectusers(users)" *ngIf="checkedit==1">
              <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="selectusers(users)" *ngIf="checkedit==0" disabled>
              <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
            </button>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-12" style="float: none; margin: 0 auto;margin-top:20px">
    <div class="d-block d-sm-none">
      <div class="btn-group buttonxx" data-toggle="buttons" role="group" aria-label="Basic example">
        <div *ngFor="let users of total_users">
          <button type="button" class="btn btn-outline-primary" (click)="selectusers(users)" *ngIf="checkedit==1">
            <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
          </button>
          <button type="button" class="btn btn-outline-secondary" (click)="selectusers(users)" *ngIf="checkedit==0" disabled>
            <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
          </button>
        </div>
      </div>
    </div>
    <div class="header">
      <!-- Labtop -->
      <div class="d-none d-sm-block">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 d-flex justify-content-around">
            <button type="button" class="btn btn-link" (click)="previous()" *ngIf="checkedit==1">
              <i class="fa fa-angle-left fa-lg"></i>
            </button>
            <h3>{{month | date:'MMMM yyyy'}}</h3>
            <button type="button" class="btn btn-link" (click)="next()" *ngIf="checkedit==1">
              <i class="fa fa-angle-right fa-lg"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="d-block d-sm-none">
        <div class="row justify-content-center">
          <button type="button" class="btn btn-link" (click)="previous()" *ngIf="checkedit==1">
            <i class="fa fa-angle-left fa-lg"></i>
          </button>
          <h3>{{month | date:'MMMM yyyy'}}</h3>
          <button type="button" class="btn btn-link" (click)="next()" *ngIf="checkedit==1">
            <i class="fa fa-angle-right fa-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none d-sm-block">
    <div *ngIf="checkuser">
      <div class="row justify-content-center">
        <DIV class="col-md-7">
          <div class="d-flex justify-content-between">
            <h4 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h4>
            <div class="col text-right">
              <div *ngIf="checkedit==1">
                <button type="button" class="btn btn-primary btn-lg" (click)="sendStatus()">
                  <i class="fas fa-paper-plane"></i> ส่ง</button>
                <button type="button" class="btn btn-warning btn-lg" (click)="showPrint(content)">
                  <i class="fas fa-print"></i> พิมพ์</button>
              </div>
            </div>
          </div>
        </DIV>
      </div>
    </div>
    <div *ngIf="!checkuser">
      <div class="row justify-content-center">
        <div class="col-md-7">
          <h4>รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block d-sm-none">
    <div *ngIf="checkuser">
      <div class="col-12 d-flex justify-content-center">
        <h5 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div *ngIf="checkedit==1">
          <button type="button" class="btn btn-primary btn-lg" (click)="sendStatus()">
            <i class="fas fa-paper-plane"></i> ส่ง</button>
          <button type="button" class="btn btn-warning btn-lg" (click)="showPrint(content)">
            <i class="fas fa-print"></i> พิมพ์</button>
        </div>
      </div>
    </div>
    <div *ngIf="!checkuser">
      <div class="col-12 d-flex justify-content-center">
        <h5>รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h5>
      </div>
    </div>
  </div>
  <!-- ฟอร์มกรอก -->
  <div class="container-fluid">
    <div class="row" *ngIf="checkuser">
      <div id="container" class="col-md-6 col-12">
        <h1 style="margin-top:5px" class="col-md-12 col-12">&bull; {{month | date:'MMMM yyyy'}} &bull;</h1>
        <div class="underline col-md-6 col-8">
        </div>
        <div class="form">
          <div class="form-row">
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-sticky-note fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-7 col-10">
              <textarea placeholder="หมายเหตุ" rows="2" [(ngModel)]="note" name="note"></textarea>
            </div>
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-money-bill-alt fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-3 col-5">
              <input placeholder="จำนวนเงิน" type="number" min="0"  [(ngModel)]="money" name="money">
            </div>
          </div>
          <div class="form-row" style="margin-top:5px">
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-paperclip fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-4 col-10">
              <label class="btn btn-outline-primary col-md-5 col-5">
                เลือกไฟล์
                <input type="file" hidden (change)="SelectedFileOnAdd($event)" multiple [(ngModel)]="file">
              </label>
            </div>
          </div>
          <div *ngFor="let file of filename" class="form-row">
            <div class="col-md-1 col-2">
            </div>
            {{file}}
          </div>
          <div class="row justify-content-center" style="margin-top:10px">
            <button type="submit" class="btn btn-outline-success col-md-2 col-4" (click)="chk_before_save()">เพิ่มข้อมูล</button>
          </div>
        </div>
        <!-- // End form -->
      </div>
    </div>
    <!-- แสดงผล -->
    <div *ngFor="let other of items;let index = index" style="margin-top: 20px">
      <div class="row" style="margin-top:20px">
        <div id="container" class="col-md-6 col-12" style="padding-left: 10px;padding-right: 10px;float: none;margin: 0 auto;padding-top: 10px;padding-bottom: 10px;">
          <div class="row justify-content-center" *ngIf="Isedit==index">
            <h1>&bull; {{month | date:'MMMM yyyy'}} &bull;</h1>
          </div>
          <div class="row justify-content-center" *ngIf="Isedit != index">
            <h1>&bull; {{other.date}} &bull;</h1>
          </div>
          <div class="underline col-md-6 col-8">
          </div>
          <div class="row d-flex justify-content-between" style="padding-left: 30px;padding-right: 30px;padding-top: 20px;">
            <div>
              <div *ngIf="other.status=='draft'">
                <div style="font-size:1em; color:gray">
                  <i class="fas fa-circle"></i> ยังไม่ได้ส่ง
                </div>
              </div>
              <div *ngIf="other.status=='request'">
                <div style="font-size:1em; color:orange">
                  <i class="fas fa-circle"></i> รอการยืนยัน
                </div>
              </div>
              <div *ngIf="other.status=='complet'">
                <div style="font-size:1em; color:green">
                  <i class="fas fa-circle"></i> อนุมัติแล้ว
                </div>
              </div>
            </div>
            <div class="row justify-content-end" *ngIf="other.status=='draft'&&checkuser">
              <ng-template #tipEdit>
                <b>แก้ไข</b>
              </ng-template>
              <ng-template #tipDelete>
                <b>ลบ</b>
              </ng-template>
              <div class="btn-group btn-group-div" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning" (click)="editmode(index,other.date)" triggers="mouseenter:mouseleave" [ngbTooltip]="tipEdit">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button *ngIf="checkedit==1" type="button" class="btn btn-danger" (click)="delete(other)" triggers="mouseenter:mouseleave"
                  [ngbTooltip]="tipDelete">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="form">
            <div class="form-row">
              <div class="col-md-1 col-2 text-center">
                <label class="control-label">
                  <div style="color:#474544">
                    <i class="fas fa-sticky-note fa-lg"></i>
                  </div>
                </label>
              </div>
              <div class="col-md-7 col-10" *ngIf="Isedit != index">
                <p class="form-control-static">{{other.note}}</p>
              </div>
              <div class="col-md-7 col-10" *ngIf="Isedit==index">
                <textarea class="form-control" placeholder="Note" rows="2" [(ngModel)]="other.note" name="note" value="{{other.note}}"></textarea>
              </div>
              <div class="col-md-1 col-2 text-center">
                <label class="control-label">
                  <div style="color:#474544">
                    <i class="fas fa-money-bill-alt fa-lg"></i>
                  </div>
                </label>
              </div>
              <div class="col-md-3 col-5" *ngIf="Isedit != index">
                <p class="form-control-static">{{other.money}} บาท</p>
              </div>
              <div class="col-md-3 col-5" *ngIf="Isedit==index">
                <input class="form-control" placeholder="จำนวนเงิน" type="number" min="0" [(ngModel)]="other.money" name="other.money"
                  value="{{other.money}}">
              </div>
            </div>

            <div class="form-row" style="margin-top:5px" *ngIf="Isedit==index">
              <div class="col-md-1 col-2 text-center">
                <label class="control-label">
                  <div style="color:#474544">
                    <i class="fas fa-paperclip fa-lg"></i>
                  </div>
                </label>
              </div>
              <div>
                <label class="btn btn-outline-primary col-md-12 col-12">
                  เลือกไฟล์
                  <input type="file" hidden (change)="SelectedFileOnEdit($event,other)" multiple [(ngModel)]="file2">
                </label>
              </div>
              <div>
                <div *ngFor="let file2 of filename2">
                  <div style="margin-left:20px">
                    {{file2}}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="Isedit==index">
              <div *ngFor="let file of other.filename; let i = index">
                <a href="http://apps.softsquaregroup.com/uploader/api/Download?ProjectCode=PJ001&ResultID={{file.FileID}}">{{file.FileName}}</a>
                <button class="btn btn-link" (click)="deletefile(index, i,file.FileID)" *ngIf="Isedit==index">
                  <i class="fas fa-times fa-lg"></i>
                </button>
                <br/>
              </div>
            </div>

            <div class="form-row" style="margin-top:5px" *ngIf="Isedit!=index">
              <div class="col-md-1 col-2 text-center">
                <label class="control-label">
                  <div style="color:#474544">
                    <i class="fas fa-paperclip fa-lg"></i>
                  </div>
                </label>
              </div>
              <div class="col-md-11" *ngIf="other.filename">
                <div *ngFor="let file of other.filename; let i = index">
                  <a href="http://apps.softsquaregroup.com/uploader/api/Download?ProjectCode=PJ001&ResultID={{file.FileID}}">{{file.FileName}}</a>
                  <button class="btn btn-link" (click)="deletefile(index, i,file.FileID)" *ngIf="Isedit==index">
                    <i class="fas fa-times fa-lg"></i>
                  </button>
                  <br/>
                </div>
              </div>
              <div class="col-md-11 col-10" *ngIf="!other.filename">
                <p class="form-control-static">ไม่มีไฟล์แนบ</p>
              </div>
            </div>
            <div *ngIf="Isedit==index" class="row justify-content-center" style="margin-top:10px">
              <button type="button" class="btn btn-outline-success col-md-2 col-4" (click)="update(other,index)">บันทึก</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- modal of print() -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">เลือกข้อมูลที่ต้องการพิมพ์</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <thead>
        <tr>
          <th>
            <input type="checkbox" value="" name="checkAll" [checked]="isAllChecked()" (change)="checkAll($event)">
          </th>
          <th>เลือกทั้งหมด</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of data_modal; let i = index">
          <td>
            <input type="checkbox" value="{{m.id}}" [(ngModel)]="m.state">
          </td>
          <td>{{m.docno}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="print()">พิมพ์</button>
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">ปิด</button>
  </div>
</ng-template>