<div class=" container-fluid">
  <!-- ใส่ปฏิทิน -->
  <!-- Labtop -->
  <div class="d-none d-sm-block">
      <div class="row justify-content-center">
          <h2>โปรแกรมเบิกค่าเบี้ยเลี้ยง</h2>
      </div>
  </div>
  <div class="row d-block d-sm-none">
      <div class="row justify-content-center">
          <h5>โปรแกรมเบิกค่าเบี้ยเลี้ยง</h5>
      </div>
  </div>
  <div class="d-none d-sm-block" style="position: absolute;left: 10%;">
    <div class="btn-group-vertical" data-toggle="buttons" role="group" aria-label="Basic example">
      <div class="example example1">
        <ng-scrollbar class="sample">
          <div *ngFor="let users of total_users">
            <button type="button" class="btn btn-outline-primary" (click)="selectusers(users)" *ngIf="checkedit==1">
              <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="selectusers(users)" *ngIf="checkedit==0" disabled>
              <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
            </button>
          </div>
        </ng-scrollbar>
      </div>
    </div>
  </div>
  <div class="row d-none d-sm-block">
    <div class="col-md-7 col-12 d-flex " style="
      padding-left: 0px;
      padding-right: 0px;float: none; margin: 0 auto;margin-top:20px
  ">

      <div class="calendar">
        <div class="header">
          <!-- Labtop -->
          <div class="d-none d-sm-block">
            <div class="row ">
              <div class="col-md-12 col-5 d-flex justify-content-around">
                <button type="button" class="btn btn-link" (click)="previous()" *ngIf="Isedit==index&&i_edit!=0" style="color: white">
                  <i class="fa fa-angle-left fa-lg"></i>
                </button>
                <span class="align-middle">{{month | date:'MMMM yyyy'}}</span>
                <button type="button" class="btn btn-link" (click)="next()" *ngIf="Isedit==index&&i_edit!=0" style="color: white">
                  <i class="fa fa-angle-right fa-lg"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="week names res-mobile">
          <span class="day">Sun</span>
          <span class="day">Mon</span>
          <span class="day">Tue</span>
          <span class="day">Wed</span>
          <span class="day">Thu</span>
          <span class="day">Fri</span>
          <span class="day">Sat</span>
        </div>
        <div class="week res-mobile" *ngFor="let week of weeks; let iw = index">
          <div class="day" id="SSS" [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: !checkArrayDatte(day.date),selectedday: checkArrayholyday(day.date) }"
            (click)="selectday(day)" *ngFor="let day of week.days; let id = index">
            <!-- <div class="day" [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" (click)="select(day)" *ngFor="let day of week.days"  > -->
            <div *ngIf="checkedit==1" class="daynumber" pageScroll [pageScrollSpeed]="-100" href="#{{day.date | date:'d/MMM/yy'}}">{{day.number}}</div>
            <div *ngIf="checkedit==0" class="daynumber">{{day.number}}</div>
            <div class="eventdiv" class="text-left" *ngFor="let event of day.events">
              <ng-template #tipContent>ราคา
                <b>{{event.money}}</b> บาท
              </ng-template>
              <button style="margin-bottom:25px" type="button" class="btn btn-link" [ngbTooltip]="tipContent">
                <div *ngIf="event.status=='draft'">
                  <div style="font-size:1em; color:gray">
                    <i class="fas fa-money-bill-alt" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}"
                      [ngbTooltip]="tipContent"></i>
                  </div>
                </div>
                <div *ngIf="event.status=='request'">
                  <div style="font-size:1em; color:orange">
                    <i class="fas fa-money-bill-alt" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}"
                      [ngbTooltip]="tipContent"></i>
                  </div>
                </div>
                <div *ngIf="event.status=='complet'">
                  <div style="font-size:1em; color:green">
                    <i class="fas fa-money-bill-alt" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}"
                      [ngbTooltip]="tipContent"></i>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-sm-block" style="position: absolute;right: -25%;">
          <div>
              <div style="font-size:1.2em; color:gray">
                  <i class="fas fa-money-bill-alt"></i> สถานะ : ยังไม่ได้ส่ง
              </div>
          </div>
          <div>
              <div style="font-size:1.2em; color:orange">
                  <i class="fas fa-money-bill-alt"></i> สถานะ : รอการยืนยัน
              </div>
          </div>
          <div>
              <div style="font-size:1.2em; color:green">
                  <i class="fas fa-money-bill-alt"></i> สถานะ : อนุมัติแล้ว
              </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Mobile -->
  <div class="row d-block d-sm-none ">
    <div class="col-md-5 col-12" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;margin-top:20px">
      <div class="d-block d-sm-none">
        <div class="btn-group buttonxx" data-toggle="buttons" role="group" aria-label="Basic example">
          <div *ngFor="let users of total_users">
            <button type="button" class="btn btn-outline-primary" (click)="selectusers(users)" *ngIf="checkedit==1">
              <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="selectusers(users)" *ngIf="checkedit==0" disabled>
              <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
            </button>
          </div>
        </div>
      </div>
      <div class="calendar">
        <div class="header">
          <!-- mobile -->
          <div class="d-block d-sm-none">
            <div class="d-flex justify-content-around">
              <button type="button" class="btn btn-link" (click)="previous()">
                <i class="fa fa-angle-left fa-lg"></i>
              </button>
              <span class="align-middle">{{month | date:'MMMM yyyy'}}</span>
              <button type="button" class="btn btn-link" (click)="next()">
                <i class="fa fa-angle-right fa-lg"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="week names  res-mobile">
          <span class="day">Sun</span>
          <span class="day">Mon</span>
          <span class="day">Tue</span>
          <span class="day">Wed</span>
          <span class="day">Thu</span>
          <span class="day">Fri</span>
          <span class="day">Sat</span>
        </div>
        <div class="week res-mobile" *ngFor="let week of weeks; let iw = index">
          <div class="day" id="SSS" [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: !checkArrayDatte(day.date),selectedday: checkArrayholyday(day.date) }"
            (click)="selectday(day)" *ngFor="let day of week.days; let id = index">
            <!-- <div class="day" [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" (click)="select(day)" *ngFor="let day of week.days"  > -->
            <div *ngIf="checkedit==1" class="daynumber" pageScroll [pageScrollSpeed]="-100" href="#{{day.date | date:'d/MMM/yy'}}">{{day.number}}</div>
            <div *ngIf="checkedit==0" class="daynumber">{{day.number}}</div>
            <div class="eventdiv" class="text-left" *ngFor="let event of day.events">
              <ng-template #tipContent>ราคา
                <b>{{event.money}}</b> บาท
              </ng-template>
              <button style="margin-bottom:25px" type="button" class="btn btn-link" [ngbTooltip]="tipContent">
                <div *ngIf="event.status=='draft'">
                  <div style="font-size:1em; color:gray">
                    <i class="fas fa-money-bill-alt" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}"
                      [ngbTooltip]="tipContent"></i>
                  </div>
                </div>
                <div *ngIf="event.status=='request'">
                  <div style="font-size:1em; color:orange">
                    <i class="fas fa-money-bill-alt" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}"
                      [ngbTooltip]="tipContent"></i>
                  </div>
                </div>
                <div *ngIf="event.status=='complet'">
                  <div style="font-size:1em; color:green">
                    <i class="fas fa-money-bill-alt" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}"
                      [ngbTooltip]="tipContent"></i>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-none d-sm-block">
    <div *ngIf="checkif" class="container-fluid">
      <div class="row justify-content-center">
        <DIV class="col-md-7">
          <div class="form-inline">
            <h4 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h4>
            <div class="col text-right">
              <div *ngIf="checkedit==1">
                <button type="button" class="btn btn-success btn-lg" (click)="ShowButton()">
                  <i class="fas fa-plus"></i> เพิ่ม</button>
                <button type="button" class="btn btn-primary btn-lg" (click)="sendStatus()">
                  <i class="fas fa-paper-plane"></i> ส่ง</button>
                <button type="button" class="btn btn-warning btn-lg" (click)="showPrint(content)">
                  <i class="fas fa-print"></i> พิมพ์</button>
              </div>
            </div>
          </div>
        </DIV>
      </div>
    </div>
    <div *ngIf="!checkif" class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h4>รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h4>
            </div>
        </div>
    </div>
  </div>
  <div class="d-block d-sm-none">
    <div *ngIf="checkif" class="container-fluid">
      <div class="col-12 d-flex justify-content-center">
        <h5 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h5>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div *ngIf="checkedit==1">
          <button type="button" class="btn btn-success btn-lg" (click)="ShowButton()">
            <i class="fas fa-plus"></i> เพิ่ม</button>
          <button type="button" class="btn btn-primary btn-lg" (click)="sendStatus()">
            <i class="fas fa-paper-plane"></i> ส่ง</button>
          <button type="button" class="btn btn-warning btn-lg" (click)="showPrint(content)">
            <i class="fas fa-print"></i> พิมพ์</button>
        </div>
      </div>
    </div>
    <div *ngIf="!checkif" class="container-fluid">
      <div class="col-12 d-flex justify-content-center">
        <h5>รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h5>
      </div>
    </div>
  </div>
</div>
<!-- ฟอร์ม -->
<div class="container-fluid">
  <div *ngIf="showSelected&&checkedit==1&&checkif">
    <div class="row" style="margin-top:20px">
      <div id="container" class="col-md-6 col-11">
        <h1 style="margin-top:5px" class="col-md-12 col-12" *ngIf="selectedday.length==1">&bull; {{selectedday[selectedday.length-1] | date: 'd MMMM yyyy'}} &bull;</h1>
        <h1 style="margin-top:5px" class="col-md-12 col-12" *ngIf="selectedday.length>1">&bull; {{selectedday[0] | date: 'd'}} - {{selectedday[selectedday.length-1] | date: 'd MMMM yyyy'}} &bull;</h1>
        <div class="underline col-md-6 col-8" *ngIf="selectedday.length>0">
        </div>
        <div class="form">
          <div class="form-row" style="margin-top:15px">
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-building fa-lg"></i>
                </div>
              </label>
            </div>
            <ng-template #rt let-r="result" let-t="term">
              <div class="row">{{ r.company}}&nbsp;
                <p style="color:red;text-shadow: -0.5px 0 white, 0 0.5px white, 0.5px 0 white, 0 -0.5px white;">฿{{r.money}} บาท</p>
              </div>
            </ng-template>
            <div class="col-md-4 col-10">
              <input type="text" placeholder="บริษัท" id="company" name="company" [(ngModel)]="model_company" [ngbTypeahead]="search_auto"
                [resultTemplate]="rt" [inputFormatter]="formatter" (ngModelChange)="autocomplete_change()">
            </div>
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-money-bill-alt fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-2 col-4">
              <input type="number" class=" text-right" placeholder="จำนวนเงิน" id="money" name="money" [(ngModel)]="money">
            </div>
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-calendar-check fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-2 col-4">
              <input type="number" class=" text-right" placeholder="จำนวนวัน" id="total" name="total" [(ngModel)]="total" disabled>
            </div>
          </div>
          <div class="form-row" style="margin-top:5px">
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-sticky-note  fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-10 col-10">
              <textarea id="note" name="note" cols="50" [(ngModel)]="note" placeholder="หมายเหตุ" required></textarea>
            </div>
          </div>
          <div class="form-row" style="margin-top:5px">
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-paperclip fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-4 col-10">
                <!-- id="form_button" -->
              <label class="btn btn-outline-primary col-md-5 col-5">
                เลือกไฟล์
                <input type="file" hidden (change)="SelectedFileOnAdd($event)" multiple [(ngModel)]="file">
              </label>
            </div>
          </div>
          <div *ngFor="let file of filename" class="form-row">
            <div class="col-md-1 col-2">
            </div>
            {{file}}
          </div>
          <!-- id="form_button_save" -->
          <div class="row justify-content-center" style="margin-top:10px">
            <button type="submit"  (click)="add()" class="btn btn-outline-success col-md-2 col-4">เพิ่มข้อมูล</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ShowData -->
  <div *ngFor="let event of saladay  | filter: filterText; let i = index" style="margin-top: 20px">
    <div *ngFor="let day of event.date">
      <div id="{{day | date:'d/MMM/yy'}}">
      </div>
    </div>
    <div class="row" style="margin-top:20px">
      <div id="container" class="col-md-6 col-11" style="padding-left: 10px;padding-right: 10px;float: none;margin: 0 auto;padding-top: 10px;padding-bottom: 10px;">
        <div class="row justify-content-center">
          <h1 *ngIf="Isedit != i&&event.date.length==1">&bull; {{event.date[0] | date: 'd MMMM yyyy'}} &bull;</h1>
          <h1 *ngIf="Isedit != i&&event.date.length>1">&bull; {{event.date[0] | date: 'd'}} - {{event.date[event.date.length-1 ]| date: 'd MMMM yyyy'}} &bull;</h1>
          <h1 *ngIf="Isedit == i&&selectedday.length==1">&bull; {{selectedday[0] | date: 'd MMMM yyyy'}} &bull;</h1>
          <h1 *ngIf="Isedit == i&&selectedday.length>1">&bull; {{selectedday[0] | date: 'd'}} - {{selectedday[selectedday.length-1] | date: 'd MMMM yyyy'}} &bull;</h1>
        </div>
        <div class="underline col-md-6 col-8">
        </div>

        <div class="row d-flex justify-content-between" style="padding-left: 30px;padding-right: 30px;padding-top: 20px;">
          <div>
            <div *ngIf="event.status=='draft'">
              <div style="font-size:1em; color:gray">
                <i class="fas fa-circle"></i> ยังไม่ได้ส่ง
              </div>
            </div>
            <div *ngIf="event.status=='request'">
              <div style="font-size:1em; color:orange">
                <i class="fas fa-circle"></i> รอการยืนยัน
              </div>
            </div>
            <div *ngIf="event.status=='complet'">
              <div style="font-size:1em; color:green">
                <i class="fas fa-circle"></i> อนุมัติแล้ว
              </div>
            </div>
          </div>

          <div *ngIf="checkif&&event.status=='draft'" class="row justify-content-end">
            <ng-template #tipEdit>
              <b>แก้ไข</b>
            </ng-template>
            <ng-template #tipDelete>
              <b>ลบ</b>
            </ng-template>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-warning" (click)="editmode(i,event)" triggers="mouseenter:mouseleave" [ngbTooltip]="tipEdit">
                <i class="fas fa-pencil-alt fa-lg"></i>
              </button>
              <button *ngIf="checkedit==1" type="button" class="btn btn-danger" (click)="delete(event)" triggers="mouseenter:mouseleave"
                [ngbTooltip]="tipDelete">
                <i class="fas fa-trash-alt fa-lg"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form">
          <div class="form-row">
            <div class="col-md-1 col-2">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-building fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-4 col-10" *ngIf="Isedit != i">
              <div class="text-left">
                <p class="form-control-static">{{event.company}}</p>
              </div>
            </div>
            <div class="col-md-4 col-10" *ngIf="Isedit == i">
              <div>
                <input type="text" id="event.company" name="event.company" placeholder="บริษัท" required value="{{event.company}}" [(ngModel)]="event.company">
              </div>
            </div>
            <div class="col-md-1 col-2">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-money-bill-alt fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-2 col-4" *ngIf="Isedit != i">
              <div class="text-right">
                <p class="form-control-static">{{event.money}}</p>
              </div>
            </div>
            <div class="col-md-2 col-4" *ngIf="Isedit == i">
              <div class="text-right">
                <input type="number" id="event.money" name="event.money" placeholder="จำนวนเงิน" required value="{{event.money}}" [(ngModel)]="event.money"
                  class=" text-right">
              </div>
            </div>
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-calendar-check fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-2 col-4" *ngIf="Isedit != i">
              <div class="text-right">
                <p class="form-control-static">{{event.total}}</p>
              </div>
            </div>
            <div class="col-md-2 col-4" *ngIf="Isedit == i">
              <div class="text-right">
                <input type="number" id="event.total" name="event.total" placeholder="จำนวนวัน" required value="{{selectedday.length}}" [(ngModel)]="event.total"
                  class=" text-right" disabled>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-1 col-2">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-sticky-note  fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-10 col-10" style="margin-top:5px" *ngIf="Isedit != i">
              <div class="text-left" *ngIf="event.note">
                <p class="form-control-static">{{event.note}}</p>
              </div>
              <div class="text-left" *ngIf="!event.note">
                  <p class="form-control-static">ไม่ได้ระบุหมายเหตุ</p>
              </div>
            </div>
            <div class="col-md-10 col-10" *ngIf="Isedit==i" style="margin-top:5px">
              <div class="">
                <textarea id="event.note" name="event.note" placeholder="หมายเหตุ" required [(ngModel)]="event.note" rows="4" cols="50"></textarea>
              </div>
            </div>
          </div>

          <div class="form-row" *ngIf="Isedit==i">
            <div class="col-md-1 col-2 text-center">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-paperclip fa-lg"></i>
                </div>
              </label>
            </div>
            <div>
              <label class="btn btn-outline-primary col-md-12 col-12">
                เลือกไฟล์
                <input type="file" hidden (change)="SelectedFileOnEdit($event,event)" multiple [(ngModel)]="file2">
              </label>
            </div>
            <div>
              <div *ngFor="let file2 of filename2">
                <div style="margin-left:20px">
                  {{file2}}
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="Isedit==i">
            <div *ngFor="let file of event.filename; let n = index">
              <a href="http://apps.softsquaregroup.com/uploader/api/Download?ProjectCode=PJ001&ResultID={{file.FileID}}">{{file.FileName}}</a>
              <button class="btn btn-link" (click)="deletefile(i, n,file.FileID)" *ngIf="Isedit==i">
                <i class="fas fa-times fa-lg"></i>
              </button>
              <br/>
            </div>
          </div>

          <div class="form-row" *ngIf="Isedit!=i">
            <div class="col-md-1 col-2">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-paperclip fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-11" *ngIf="event.filename">
              <div *ngFor="let file of event.filename; let n = index">
                <a href="http://apps.softsquaregroup.com/uploader/api/Download?ProjectCode=PJ001&ResultID={{file.FileID}}">{{file.FileName}}</a>
                <button class="btn btn-link" (click)="deletefile(i, n,file.FileID)" *ngIf="Isedit==i">
                  <i class="fas fa-times fa-lg"></i>
                </button>
                <br/>
              </div>
            </div>
            <div class="col-md-11 col-10" *ngIf="!event.filename">
                <p class="form-control-static">ไม่มีไฟล์แนบ</p>
            </div>
          </div>

          <div class="form-row justify-content-end">
            <div class="col-md-1 col-2">
              <label class="control-label">
                <div style="color:#474544">
                  <i class="fas fa-money-bill-alt fa-lg"></i>
                </div>
              </label>
            </div>
            <div class="col-md-2 col-3">
              <p class="form-control-static">{{total_money[i]}} บาท</p>
            </div>
          </div>

          <div *ngIf="Isedit==i" class="row justify-content-center" style="margin-top:10px">
            <button class="btn btn-outline-success col-md-2 col-4" (click)="update(event,i)">บันทึก</button>
          </div>


        </div>



      </div>
    </div>

  </div>
</div>


<!-- modal of print() -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">เลือกข้อมูลที่ต้องการพิมพ์</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table>
      <thead>
        <tr>
          <th>
            <input type="checkbox" value="" name="checkAll" [checked]="isAllChecked()" (change)="checkAll($event)">
          </th>
          <th>เลือกทั้งหมด</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of data_modal; let i = index">
          <td>
            <input type="checkbox" value="{{m.id}}" [(ngModel)]="m.state">
          </td>
          <td>{{m.docno}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" (click)="print()">พิมพ์</button>
    <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">ปิด</button>
  </div>
</ng-template>