div > .move {
    cursor: move
}

.calendar div.week .day.selectedday {
    background: white;
    color: red;
}
.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}

#sss {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
}

.border-box {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

.calendar {
    float: left;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: white;
    border: solid 1px #cccccc;
    margin-bottom: 10px;
}

.calendar div.header {
    float: left;
    width: 100%;
 
   background: #474544;
   color: white;
   padding-top: 3px;
   padding-bottom: 3px;
   font-size: 1.5em;
}
.calendar div.week {
    float: left;
    width: 100%;
    border-top: solid 1px #cccccc;
}
.bg {
    background: #ffcc80 !important;
}
.week .day {
    float: left;
    width: 14.28571429%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: solid 1px #cccccc;
    font-size: 2em;
    text-align: right;
    height: 85px;
    line-height: 40px !important;
    display: inline-block;
    vertical-align: middle;
    background: white;
    cursor: pointer;
    color: black;
}
.week.names .day {
	text-align: center;
    height: 50px;
    
}
.popover-header{
	color:#000!important;
}
.daynumber{
	padding-right: 10px;
}
.calendar div.week .different-month {
    pointer-events: none;
    background: #dddddd !important;
    color: #C0C0C0 !important;
}
.calendar div.week .day.selected {
    background: rgb(206, 134, 0);
    color: black;
}
.marginb{
    margin-bottom: 10px;
	margin-top: 20px;
}
.btnmargin{
    margin-right: 5px;
}
.center{
	text-align: center;
}
.eventdiv {
    margin-bottom: 6px;
    padding: 5px;
    display: flex;
}
.eventdiv button{
	flex-grow: 1;
	padding: 2px 4px;
	margin: 2px;
	font-size: 11px;
}
.eventlist{
	height: 528px;
    overflow-y: auto;
}

  *{
    border-radius: 0 !important;
}
@media (max-width:767px) {
    .res-mobile{
        font-size: 8px
    }
    .week .day {
        float: left;
        width: 14.28571429%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border-left: solid 1px #cccccc;
        font-size: 2em;
        text-align: right;
        height: 50px;
        line-height: 20px !important;
        display: inline-block;
        vertical-align: middle;
        background: white;
        cursor: pointer;
        color: black;
    }
    .calendar div.header {
        float: left;
         width: 100%;
        padding-left:3px;
        background: #474544;
        color: white;
        padding-top: 3px;
        padding-bottom: 3px;
        // font-size: 1.5em;
        font-size:1.1em;
    }
    .btn-responsive {
        padding:2px 4px;
        font-size:90%;
        line-height: 1;
        border-radius:3px;
      }
    .buttonxx {
        padding: 5px;
        overflow-x: auto;
        width: 200px;
    }
      

  }
  
.buttonxx {
    padding: 5px;
    overflow-x: auto;
    width: 100%;
}
  .example1 {
    // background-color: #D85426;
    color: rgba(255, 255, 255, 0.9);
    .sample {
      height: 541px;
    }
    .inner {
      padding: 1em 1.5em 1em 0;
    }
    p {
      line-height: 1.5em;
    }
  }
  
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  // color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
//   max-width: 768px;
  margin: 60px auto;
  position: relative;
}

.form {
  padding: 30px;
  // margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select,[type='number'] {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

textarea {
	background: none;
  border: none;
	border: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus,[type='number']:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }

}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  }
  
  #form_button {
    padding: 15px 25px;
  }
  .form {
    padding: 10px;
    // margin: 50px 0;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  .form {
    padding: 10px;
    // margin: 50px 0;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
#form_button_save {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button_save:hover {
  background: green;
  color: #F2F3EB;
}