<div class="body" (keypress) = "keydown($event)"> 
    <div class="card card-container animated fadeInDown">
        <h2>LOGIN</h2>
        <div class="form-group">
            <label for="in_title">Username</label>
            <input type="text" class="form-control" [(ngModel)]="data.Username" id="in_title" required>
        </div>
        <div class="form-group">
            <label for="in_author">Password</label>
            <input type="password" class="form-control" [(ngModel)]="data.Password" id="in_author" required>
        </div>

        <button type="submit" class="form-control" class="btn btn-primary" (click)="Login()">Login</button>
    </div>
</div>

      