<div class=" container-fluid" id="top" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;margin-top:20px">

  <!-- ปฏิทิน -->
  <div class="container-fluid">
    <div class="col-md-7 col-12" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;margin-top:20px">
      <!-- <div class="row justify-content-center"> -->
      <div class="header">
        <!-- Labtop -->
        <div class="d-none d-sm-block">
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-around">
              <h3>{{month | date:'MMMM yyyy'}}</h3>
            </div>
          </div>

        </div>
        <div class="d-block d-sm-none">
          <div class="row justify-content-center">
            <h3>{{month | date:'MMMM yyyy'}}</h3>
          </div>
        </div>
      </div>
      <!-- </div> -->

    </div>
    <div class="d-none d-sm-block">
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div class="form-inline">
              <h4 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h4>
              <div class="col text-right">
                <div *ngIf="approve_ot">
                  <button *ngIf="approve_ot[0].status == 'request'" class="btn btn-success col-md-4" (click)="complete()">อนุมัติ</button>
                  <button *ngIf="approve_ot[0].status == 'request'" class="btn btn-danger col-md-4" (click)="draft()">ไม่อนุมัติ</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-block d-sm-none">
      <div class="col-12 d-flex justify-content-center">
        <h5 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h5>
      </div>
      <div class="row d-flex justify-content-around">
        <div class="col-6" *ngIf="approve_ot">
          <button *ngIf="approve_ot[0].status == 'request'" class="btn btn-success col-12" (click)="complete()">อนุมัติ</button>
        </div>
        <div class="col-6" *ngIf="approve_ot">
          <button *ngIf="approve_ot[0].status == 'request'" class="btn btn-danger col-12" (click)="draft()">ไม่อนุมัติ</button>
        </div>
      </div>
    </div>

    <!-- แสดงผล -->
    <div *ngFor="let other of approve_ot;let index = index" style="margin-top: 20px">
      <div class="row" style="margin-top:20px">
        <div id="container" class="col-md-6 col-12" style="padding-left: 10px;padding-right: 10px;float: none;margin: 0 auto;padding-top: 10px;padding-bottom: 10px;">

          <div class="row justify-content-center" *ngIf="Isedit != index">
            <h1>&bull; {{other.date}} &bull;</h1>
          </div>
          <div class="underline col-md-6 col-8">
          </div>

          <div class="row d-flex justify-content-between" style="padding-left: 30px;padding-right: 30px;padding-top: 20px;">
            <div>
              <div *ngIf="other.status=='request'">
                <div style="font-size:1em; color:red">
                  <i class="fas fa-circle"></i> รอการยืนยัน
                </div>
              </div>
              <div *ngIf="other.status=='complet'">
                <div style="font-size:1em; color:green">
                  <i class="fas fa-circle"></i> อนุมัติแล้ว
                </div>
              </div>
            </div>
          </div>

          <div class="form">
            <div class="form-row">
              <div class="col-md-1 col-2 text-center">
                <label class="control-label">
                  <div style="color:#474544">
                    <i class="fas fa-sticky-note fa-lg"></i>
                  </div>
                </label>
              </div>
              <div class="col-md-7 col-10" *ngIf="Isedit != index">
                <p class="form-control-static">{{other.note}}</p>
              </div>
              <div class="col-md-1 col-2 text-center">
                <label class="control-label">
                  <div style="color:#474544">
                    <i class="fas fa-money-bill-alt fa-lg"></i>
                  </div>
                </label>
              </div>
              <div class="col-md-3 col-5" *ngIf="Isedit != index">
                <p class="form-control-static">{{other.money}} บาท</p>
              </div>
            </div>
            <div class="form-row" style="margin-top:5px" *ngIf="Isedit!=index">
              <div class="col-md-1 col-2 text-center">
                <label class="control-label">
                  <div style="color:#474544">
                    <i class="fas fa-paperclip fa-lg"></i>
                  </div>
                </label>
              </div>
              <div class="col-md-11 col-10">
                <div *ngIf="other.filename">
                  <div *ngFor="let file of other.filename; let i = index">
                    <a href="http://apps.softsquaregroup.com/uploader/api/Download?ProjectCode=PJ001&ResultID={{file.FileID}}">{{file.FileName}}</a>
                    <br/>
                  </div>
                </div>
                <div *ngIf="!other.filename">
                  <p class="form-control-static">ไม่มีไฟล์แนบ</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>