<nav class="navbar navbar-expand-lg navbar-dark bg-dark"  *ngIf="auth.authenticated">
  <a class="navbar-brand" routerLink="home">Expense</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- <li class="nav-item " *ngIf="auth.authenticated  && check!= 0">
        <a class="nav-link" routerLink="home">Home </a>
      </li> -->
      <li class="nav-item" *ngIf="auth.authenticated  && check!= 0">
        <a class="nav-link" routerLink="travel" >ค่าเดินทาง</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated  && check!= 0">
        <a class="nav-link" routerLink="saladay">ค่าเบี้ยเลี้ยง</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated  && check!= 0">
        <a class="nav-link" routerLink="other">ค่าอื่นๆ</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated  && check!= 0 ">
        <a class="nav-link" routerLink="approve">รายการรอตรวจสอบ</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!auth.authenticated">
        <a class="nav-link" routerLink="login">Login</a>
      </li>


      <li *ngIf="auth.authenticated && profile.admin == 1">
        <a class="nav-link" routerLink="company">เพิ่มบริษัท</a>
      </li>

      <li *ngIf="auth.authenticated">
        <a class="nav-link" routerLink="profile">ข้อมูลส่วนตัว</a>
      </li>
      <li *ngIf="auth.authenticated">
        <a class="nav-link" routerLink="" (click)="this.auth.signOut()">ออกจากระบบ</a>
      </li>
    </ul>
  </div>
</nav>


<div class="row">
  <button type="button" class="btn btn-link" href="#top" id="myBtn" style="position:fixed;bottom: 0;left: 0;z-index: 1;" (click)="topFunction()">
    <i class="fas fa-arrow-circle-up fa-2x"></i>
  </button>
</div>

<ngx-loading [show]="this.ld.loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<router-outlet></router-outlet>
