<div class=" container-fluid">
    <!-- ใส่ปฏิทิน -->
    <div class="row">
        <div class="col-md-5 col-12" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;margin-top:20px">
            <div class="row" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;margin-top:10px">
                <div class="calendar">
                    <div class="header">
                        <!-- Labtop -->
                        <div class="d-none d-sm-block">
                            <div class="row ">
                                <div class="col-md-12 col-5 d-flex justify-content-around">
                                    <span class="align-middle">{{month | date:'MMMM yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- mobile -->
                        <div class="d-block d-sm-none">
                            <div class="d-flex justify-content-center">
                                <div class="col-5 text-center">
                                    <span class="align-middle">{{month | date:'MMMM yyyy'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="week names res-mobile">
                        <span class="day">Sun</span>
                        <span class="day">Mon</span>
                        <span class="day">Tue</span>
                        <span class="day">Wed</span>
                        <span class="day">Thu</span>
                        <span class="day">Fri</span>
                        <span class="day">Sat</span>
                    </div>
                    <div class="week res-mobile" *ngFor="let week of weeks;let iw = index">
                        <div class="day" id="SSS" [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected),selectedday: checkArrayDatte(day.date) }"
                            (click)="select(day)" *ngFor="let day of week.days;let id = index">
                            <!-- <div class="day" [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" (click)="select(day)" *ngFor="let day of week.days"  > -->
                            <div pageScroll [pageScrollSpeed]="-100" href="#{{day.date | date:'d/MMM/yy'}}" class="daynumber" *ngIf="checkedit==1">{{day.number}}
                                <div class="eventdiv" class="text-left" *ngFor="let event of day.events">
                                    <ng-template #tipContent>ราคา
                                        <b>{{data_week[iw][id]}}</b> บาท</ng-template>
                                    <button style="margin-bottom:25px" type="button" class="btn btn-link" [ngbTooltip]="tipContent">
                                        <div *ngIf="event.status=='draft'">
                                            <div style="font-size:1em; color:gray">
                                                <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                            </div>
                                        </div>
                                        <div *ngIf="event.status=='request'">
                                            <div style="font-size:1em; color:orange">
                                                <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                            </div>
                                        </div>
                                        <div *ngIf="event.status=='complet'">
                                            <div style="font-size:1em; color:green">
                                                <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <div class="daynumber" *ngIf="checkedit==0">{{day.number}}
                                <div class="eventdiv" class="text-left">
                                    <i class="fas fa-car " *ngFor="let event of day.events" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}"
                                        ngbPopover="{{event.waypoint}}" style="margin:3px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-none d-sm-block">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="form-inline">
                        <h4 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h4>
                        <div class="col text-right">
                            <div *ngIf="approve_tr">
                                <button *ngIf="approve_tr[0].status == 'request'" class="btn btn-success col-md-4" (click)="complete()">อนุมัติ</button>
                                <button *ngIf="approve_tr[0].status == 'request'" class="btn btn-danger col-md-4" (click)="draft()">ไม่อนุมัติ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-block d-sm-none">
        <div class="col-12 d-flex justify-content-center">
            <h5 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h5>
        </div>
        <div class="row d-flex justify-content-around">
            <div class="col-6" *ngIf="approve_tr">
                <button *ngIf="approve_tr[0].status == 'request'" class="btn btn-success col-12" (click)="complete()">อนุมัติ</button>
            </div>
            <div class="col-6" *ngIf="approve_tr">
                <button *ngIf="approve_tr[0].status == 'request'" class="btn btn-danger col-12" (click)="draft()">ไม่อนุมัติ</button>
            </div>
        </div>
    </div>


    <!-- คิวรี่ข้อมูล -->
    <div *ngFor="let event of approve_tr  | filter: filterText; let index = index" style="margin-top: 20px">
        <div id="{{event.date | date:'d/MMM/yy'}}">
            <div class="row" style="margin-top:20px">
                <div id="container" class="col-md-6 col-12" style="padding-left: 10px;padding-right: 10px;float: none;margin: 0 auto;padding-top: 10px;padding-bottom: 10px;">

                    <div class="row justify-content-center" *ngIf="Isedit != index">
                        <h1>&bull; {{event.date | date: 'd - MMMM - yyyy'}} &bull;</h1>
                    </div>
                    <div class="underline col-md-6 col-8">
                    </div>

                    <div class="row d-flex justify-content-between" style="padding-left: 30px;padding-right: 30px;padding-top: 20px;">
                        <div>
                            <div *ngIf="event.status=='request'">
                                <div style="font-size:1em; color:orange">
                                    <i class="fas fa-circle"></i> รอการยืนยัน
                                </div>
                            </div>
                            <div *ngIf="event.status=='complet'">
                                <div style="font-size:1em; color:green">
                                    <i class="fas fa-circle"></i> อนุมัติแล้ว
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form">
                        <div class="form-row" style="margin-top:5px">
                            <div class="col-md-1 col-2 text-center">
                                <div class="align-middle">
                                    <label class="control-label">
                                        <div style="color:#474544">
                                            <i class="fas fa-user fa-lg"></i>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3 col-10" *ngIf="Isedit != index" style="margin-top:5px">
                                <div class="text-left">
                                    <p class="form-control-static">{{event.customer}}</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="Isedit!=index">
                            <div *ngFor="let detail of event.waypoint; let i_edit = index">
                                <div class="form-row">
                                    <div class="col-md-1 col-2 text-center">
                                        <div class="align-middle">
                                            <label class="control-label">
                                                <div style="color:#474544" *ngIf="i_edit==0">
                                                    <i class="fas fa-home fa-lg"></i>
                                                </div>
                                                <div style="color:#474544" *ngIf="i_edit!=0">
                                                    <i class="fas fa-map-marker-alt fa-lg"></i>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-10 text-left">
                                        <p *ngIf="Isedit!=index" class="form-control-static">{{detail.waypoint}}</p>
                                    </div>
                                    <div class="col-md-1 col-2 text-center">
                                        <div class="align-middle">
                                            <label class="control-label">
                                                <div style="color:#474544" *ngIf="i_edit!=0">
                                                    <i class="fas fa-car fa-lg"></i>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-3 text-right">
                                        <p *ngIf="Isedit!=index&&i_edit!=0" class="form-control-static">{{detail.car}}</p>
                                    </div>
                                    <div class="col-md-1 col-2 text-center">
                                        <div class="align-middle">
                                            <label class="control-label">
                                                <div style="color:#474544" *ngIf="i_edit!=0">
                                                    <i class="fas fa-road fa-lg"></i>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-3 text-right">
                                        <p *ngIf="Isedit!=index&&i_edit!=0" class="form-control-static">{{detail.free}}</p>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="i_edit!=0">
                                    <br/>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-1 col-2 text-center">
                                <div class="align-middle">
                                    <label class="control-label">
                                        <div style="color:#474544">
                                            <i class="fas fa-sticky-note  fa-lg"></i>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-10 col-10" *ngIf="Isedit != index" style="margin-top:5px">
                                <div class="text-left" *ngIf="event.note">
                                    <p class="form-control-static">{{event.note}}</p>
                                </div>
                                <div class="text-left" *ngIf="!event.note">
                                    <p class="form-control-static">ไม่ได้ระบุหมายเหตุ</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" *ngIf="Isedit!=index">
                            <div class="col-md-1 col-2 text-center">
                                <div class="align-middle">
                                    <label class="control-label">
                                        <div style="color:#474544">
                                            <i class="fas fa-paperclip fa-lg"></i>
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-11" *ngIf="event.filename">
                                <div *ngFor="let file of event.filename; let i = index">
                                    <a href="http://apps.softsquaregroup.com/uploader/api/Download?ProjectCode=PJ001&ResultID={{file.FileID}}">{{file.FileName}}</a>
                                    <br/>
                                </div>
                            </div>
                            <div class="col-md-11 col-10" *ngIf="!event.filename">
                                <p class="form-control-static">ไม่มีไฟล์แนบ</p>
                            </div>
                        </div>




                        <div class="form-row justify-content-end">
                            <div class="col-md-1 col-2">
                                <label class="control-label">
                                    <div style="color:#474544">
                                        <i class="fas fa-money-bill-alt fa-lg"></i>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-2 col-3">
                                <p class="form-control-static">{{total_money[index]}} บาท</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>