<div class=" container-fluid">
    <!-- ใส่ปฏิทิน -->
    <!-- labtop -->
    <!-- left: 10%; -->
    <div class="d-none d-sm-block">
        <div class="row justify-content-center">
            <h2>โปรแกรมเบิกค่าเดินทาง</h2>
        </div>
    </div>
    <div class="row d-block d-sm-none">
        <div class="row justify-content-center">
            <h5>โปรแกรมเบิกค่าเดินทาง</h5>
        </div>
    </div>
    <div class="d-none d-sm-block" style="position: absolute;left: 10%;">
        <div class="btn-group-vertical" data-toggle="buttons" role="group" aria-label="Basic example">
            <div class="example example1">
                <ng-scrollbar class="sample">
                    <div *ngFor="let users of total_users">
                        <button type="button" class="btn btn-outline-primary" (click)="selectusers(users)">
                            <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
                        </button>
                    </div>
                </ng-scrollbar>
            </div>
        </div>
    </div>
    <div class="row d-none d-sm-block">
        <div class="col-md-7 col-12 d-flex " style="
        padding-left: 0px;
        padding-right: 0px;float: none; margin: 0 auto;margin-top:20px
    ">

            <div class="calendar">
                <div class="header">
                    <!-- Labtop -->
                    <div class="d-none d-sm-block">
                        <div class="row ">
                            <div class="col-md-12 col-5 d-flex justify-content-around">
                                <button type="button" class="btn btn-link" (click)="previous()" *ngIf="Isedit==index&&i_edit!=0" style="color: white">
                                    <i class="fa fa-angle-left fa-lg"></i>
                                </button>
                                <span class="align-middle">{{month | date:'MMMM yyyy'}}</span>
                                <button type="button" class="btn btn-link" (click)="next()" *ngIf="Isedit==index&&i_edit!=0" style="color: white">
                                    <i class="fa fa-angle-right fa-lg"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="week names res-mobile">
                    <span class="day">Sun</span>
                    <span class="day">Mon</span>
                    <span class="day">Tue</span>
                    <span class="day">Wed</span>
                    <span class="day">Thu</span>
                    <span class="day">Fri</span>
                    <span class="day">Sat</span>
                </div>
                <div class="week res-mobile" *ngFor="let week of weeks;let iw = index">
                    <div class="day" id="SSS" [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected),selectedday: checkArrayDatte(day.date) }"
                        (click)="select(day)" *ngFor="let day of week.days;let id = index">
                        <div pageScroll [pageScrollSpeed]="-100" href="#{{day.date | date:'d/MMM/yy'}}" class="daynumber" *ngIf="checkedit==1">{{day.number}}
                            <div class="eventdiv" class="text-left" *ngFor="let event of day.events">
                                <ng-template #tipContent>ราคา
                                    <b>{{data_week[iw][id]}}</b> บาท
                                </ng-template>
                                <button style="margin-bottom:25px" type="button" class="btn btn-link" [ngbTooltip]="tipContent">
                                    <div *ngIf="event.status=='draft'">
                                        <div style="font-size:1em; color:gray">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="event.status=='request'">
                                        <div style="font-size:1em; color:orange">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="event.status=='complet'">
                                        <div style="font-size:1em; color:green">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div pageScroll [pageScrollSpeed]="-100" href="#{{day.date | date:'d/MMM/yy'}}" class="daynumber" *ngIf="checkedit==0">{{day.number}}
                            <div class="eventdiv" class="text-left" *ngFor="let event of day.events">
                                <ng-template #tipContent>ราคา
                                    <b>{{data_week[iw][id]}}</b> บาท</ng-template>
                                <button style="margin-bottom:25px" type="button" class="btn btn-link" [ngbTooltip]="tipContent">
                                    <div *ngIf="event.status=='draft'">
                                        <div style="font-size:1em; color:gray">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="event.status=='request'">
                                        <div style="font-size:1em; color:orange">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="event.status=='complet'">
                                        <div style="font-size:1em; color:green">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-none d-sm-block" style="position: absolute;right: -25%;">
                <div>
                    <div style="font-size:1.2em; color:gray">
                        <i class="fas fa-car"></i> สถานะ : ยังไม่ได้ส่ง
                    </div>
                </div>
                <div>
                    <div style="font-size:1.2em; color:orange">
                        <i class="fas fa-car"></i> สถานะ : รอการยืนยัน
                    </div>
                </div>
                <div>
                    <div style="font-size:1.2em; color:green">
                        <i class="fas fa-car"></i> สถานะ : อนุมัติแล้ว
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- mobile -->
    <div class="row d-block d-sm-none">
        <div class="col-md-5 col-12" style="padding-left: 0px;padding-right: 0px;float: none; margin: 0 auto;margin-top:20px">
            <div class="d-block d-sm-none">
                <div class="btn-group buttonxx" data-toggle="buttons" role="group" aria-label="Basic example">
                    <div *ngFor="let users of total_users">
                        <button type="button" class="btn btn-outline-primary" (click)="selectusers(users)">
                            <input type="radio" name="options" id="option1" autocomplete="off" hidden> {{users}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="calendar">
                <div class="header">
                    <!-- mobile -->
                    <div class="d-block d-sm-none">
                        <div class="d-flex justify-content-around">
                            <button type="button" class="btn btn-link" (click)="previous()">
                                <i class="fa fa-angle-left fa-lg"></i>
                            </button>
                            <span class="align-middle">{{month | date:'MMMM yyyy'}}</span>
                            <button type="button" class="btn btn-link" (click)="next()">
                                <i class="fa fa-angle-right fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="week names res-mobile">
                    <span class="day">Sun</span>
                    <span class="day">Mon</span>
                    <span class="day">Tue</span>
                    <span class="day">Wed</span>
                    <span class="day">Thu</span>
                    <span class="day">Fri</span>
                    <span class="day">Sat</span>
                </div>
                <div class="week res-mobile" *ngFor="let week of weeks;let iw = index">
                    <div class="day" id="SSS" [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected),selectedday: checkArrayDatte(day.date) }"
                        (click)="select(day)" *ngFor="let day of week.days;let id = index">
                        <!-- <div class="day" [ngClass]="{today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" (click)="select(day)" *ngFor="let day of week.days"  > -->
                        <div pageScroll [pageScrollSpeed]="-100" href="#{{day.date | date:'d/MMM/yy'}}" class="daynumber" *ngIf="checkedit==1">{{day.number}}
                            <div class="eventdiv" class="text-left" *ngFor="let event of day.events">
                                <ng-template #tipContent>ราคา
                                    <b>{{data_week[iw][id]}}</b> บาท</ng-template>

                                <button style="margin-bottom:25px" type="button" class="btn btn-link" [ngbTooltip]="tipContent">
                                    <div *ngIf="event.status=='draft'">
                                        <div style="font-size:1em; color:gray">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="event.status=='request'">
                                        <div style="font-size:1em; color:orange">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="event.status=='complet'">
                                        <div style="font-size:1em; color:green">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div pageScroll [pageScrollSpeed]="-100" href="#{{day.date | date:'d/MMM/yy'}}" class="daynumber" *ngIf="checkedit==0">{{day.number}}
                            <div class="eventdiv" class="text-left" *ngFor="let event of day.events">
                                <ng-template #tipContent>ราคา
                                    <b>{{data_week[iw][id]}}</b> บาท</ng-template>
                                <button style="margin-bottom:25px" type="button" class="btn btn-link" [ngbTooltip]="tipContent">
                                    <div *ngIf="event.status=='draft'">
                                        <div style="font-size:1em; color:gray">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="event.status=='request'">
                                        <div style="font-size:1em; color:orange">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="event.status=='complet'">
                                        <div style="font-size:1em; color:green">
                                            <i class="fas fa-car" triggers="mouseenter:mouseleave" popoverTitle="{{event.start2}}" ngbPopover="{{event.waypoint}}" [ngbTooltip]="tipContent"></i>
                                        </div>
                                    </div>
                                </button>
                            </div>
                        </div>
                        <!-- </div>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- labtop -->
    <div class="d-none d-sm-block">
        <div *ngIf="checkuser" class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <div class="form-inline">
                        <h4 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h4>
                        <div class="col text-right">
                            <div *ngIf="checkedit==1">
                                <button type="button" class="btn btn-success col-md-2" (click)="ShowButton()">
                                    <i class="fas fa-plus"></i> เพิ่ม</button>
                                <button type="button" class="btn btn-primary col-md-2" (click)="sendStatus()">
                                    <i class="fas fa-paper-plane"></i> ส่ง</button>
                                <button type="button" class="btn btn-warning col-md-2" (click)="showPrint(content)">
                                    <i class="fas fa-print"></i> พิมพ์</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!checkuser" class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <h4>รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile -->
    <div class="d-block d-sm-none">
        <div *ngIf="checkuser">
            <div class="col-12 d-flex justify-content-center">
                <h5 style="display:inline-block">รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h5>
            </div>
            <div class="col-12 d-flex justify-content-center">
                <div *ngIf="checkedit==1">
                    <button type="button" class="btn btn-success btn-lg" (click)="ShowButton()">
                        <i class="fas fa-plus"></i> เพิ่ม</button>
                    <button type="button" class="btn btn-primary btn-lg" (click)="sendStatus()">
                        <i class="fas fa-paper-plane"></i> ส่ง</button>
                    <button type="button" class="btn btn-warning btn-lg" (click)="showPrint(content)">
                        <i class="fas fa-print"></i> พิมพ์</button>
                </div>
            </div>
        </div>
        <div *ngIf="!checkuser">
            <div class="col-12 d-flex justify-content-center">
                <h5>รวมจำนวนเงินทั้งหมด : {{total_moneyAll}} บาท</h5>
            </div>
        </div>
    </div>
    <!-- ฟอร์ม -->
    <div class="container-fluid">
        <div *ngIf="showSelected&&checkuser">
            <div class="row">
                <div id="container" class="col-md-6 col-12">
                    <h1 style="margin-top:5px" class="col-md-12 col-12">&bull; {{selected | date: 'd - MMMM - yyyy'}} &bull;</h1>
                    <div class="underline col-md-6 col-8">
                    </div>
                    <div class="form">
                        <div class="form-row" style="margin-top:15px">
                            <div class="col-md-1 col-2">
                                <label class="control-label">
                                    <div style="color:#474544">
                                        <i class="fas fa-user fa-lg"></i>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-3 col-9">
                                <div id="scrollable-dropdown-menu">
                                    <input type="text" id="customer" [(ngModel)]="customer" name="customer" placeholder="ลูกค้า" [ngbTypeahead]="search_cus"
                                    />
                                </div>
                            </div>
                        </div>
                        <div [dragula]='"another-bag"' [dragulaModel]='list_tran'>
                            <div *ngFor="let lt_add of list_tran; let i_add = index; let n = index">
                                <div class="form-row">
                                    <div class="col-md-1 col-2 move">
                                        <label class="control-label">
                                            <div style="color:#474544" *ngIf="n==0">
                                                <i class="fas fa-home fa-lg move"></i>
                                            </div>
                                            <div style="color:#474544" *ngIf="n!=0">
                                                <i class="fas fa-map-marker-alt fa-lg move"></i>
                                            </div>
                                        </label>
                                    </div>
                                    <ng-template #rt let-r="result" let-t="term">
                                        <div *ngFor="let res of r; let i = index" style="display:inline-block;">&nbsp;{{res.waypoint}}&nbsp;
                                            <i class="fas fa-arrow-right" *ngIf="r.length-1!=i"></i>
                                        </div>
                                    </ng-template>
                                    <div class="col-md-3 col-9">
                                        <input type="text" id="waypoint" name="waypoint" [(ngModel)]="lt_add.waypoint" (ngModelChange)="autocomplete_add_change(lt_add.waypoint, i_add)"
                                            placeholder="สถานที่" [ngbTypeahead]="search_tran" [resultTemplate]="rt" required>
                                    </div>
                                    <div class="col-md-1 col-2 move">
                                        <label class="control-label">
                                            <div style="color:#474544" *ngIf="n!=0">
                                                <i class="fas fa-car fa-lg move"></i>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-3">
                                        <input type="number" id="car" name="car" min="0" max="9999" [(ngModel)]="lt_add.car" placeholder="ค่ารถ" *ngIf="n!=0" required
                                            style="text-align: right">
                                    </div>
                                    <div class="col-md-1 col-2 move">
                                        <label class="control-label">
                                            <div style="color:#474544" *ngIf="n!=0">
                                                <i class="fas fa-road fa-lg move"></i>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-md-2 col-4">
                                        <input type="number" id="free" name="free" min="0" max="9999" [(ngModel)]="lt_add.free" placeholder="ค่าทางด่วน" *ngIf="n!=0"
                                            required style="text-align: right">
                                    </div>
                                    <div class="col-md-1 col-1" *ngIf="n>1">
                                        <button class="btn btn-link" (click)="deleteRow(i_add)">
                                            <i class="fas fa-times fa-lg"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-1 col-2">
                                <button type="button" class="btn btn-link" (click)="addNewRow()" style="padding-left: 0px">
                                    <span class="fa-layers fa-fw">
                                        <i class="fas fa-map-marker-alt  fa-lg" style="color:green"></i>
                                        <i class="fas fa-plus fa-lg" data-fa-transform=" right-12 up-8" style="color:red"></i>
                                    </span>
                                    &nbsp;&nbsp;เพิ่มสถานที่
                                </button>
                            </div>
                        </div>
                        <div class="form-row" style="margin-top:5px">
                            <div class="col-md-1 col-2">
                                <label class="control-label">
                                    <div style="color:#474544">
                                        <i class="fas fa-sticky-note fa-lg"></i>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-10 col-10">
                                <textarea id="note" [(ngModel)]="note" name="note" placeholder="หมายเหตุ" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                        <div class="form-row" style="margin-top:5px">
                            <div class="col-md-1 col-2 text-center">
                                <label class="control-label">
                                    <div style="color:#474544">
                                        <i class="fas fa-paperclip fa-lg"></i>
                                    </div>
                                </label>
                            </div>
                            <div class="col-md-4 col-10">
                                <!-- id="form_button" -->
                                <label class="btn btn-outline-primary col-md-5 col-5">
                                    เลือกไฟล์
                                    <input type="file" hidden (change)="SelectedFileOnAdd($event)" multiple [(ngModel)]="file">
                                </label>
                            </div>
                        </div>
                        <div *ngFor="let file of filename" class="form-row">
                            <div class="col-md-1 col-2">
                            </div>
                            {{file}}
                        </div>
                        <!-- id="form_button_save" -->
                        <div class="row justify-content-center" style="margin-top:10px">
                            <button type="submit" *ngIf="editEventIndex<0" (click)="chk_before_save()" class="btn btn-outline-success col-md-2 col-4">เพิ่มข้อมูล</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ShowData -->
        <div *ngFor="let event of list_tranDetail  | filter: filterText; let index = index" style="margin-top: 20px">
            <div id="{{event.date | date:'d/MMM/yy'}}">
                <div class="row" style="margin-top:20px">
                    <div id="container" class="col-md-6 col-12" style="padding-left: 10px;padding-right: 10px;float: none;margin: 0 auto;padding-top: 10px;padding-bottom: 10px;">
                        <div class="row justify-content-center" *ngIf="Isedit==index">
                            <h1>&bull; {{selected | date: 'd - MMMM - yyyy'}} &bull;</h1>
                        </div>
                        <div class="row justify-content-center" *ngIf="Isedit!=index">
                            <h1>&bull; {{event.date | date: 'd - MMMM - yyyy'}} &bull;</h1>
                        </div>
                        <div class="underline col-md-6 col-8">
                        </div>

                        <div class="row d-flex justify-content-between" style="padding-left: 30px;padding-right: 30px;padding-top: 20px;">
                            <div>
                                <div *ngIf="event.status=='draft'">
                                    <div style="font-size:1em; color:gray">
                                        <i class="fas fa-circle"></i> ยังไม่ได้ส่ง
                                    </div>
                                </div>
                                <div *ngIf="event.status=='request'">
                                    <div style="font-size:1em; color:orange">
                                        <i class="fas fa-circle"></i> รอการยืนยัน
                                    </div>
                                </div>
                                <div *ngIf="event.status=='complet'">
                                    <div style="font-size:1em; color:green">
                                        <i class="fas fa-circle"></i> อนุมัติแล้ว
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="checkuser">
                                <ng-template #tipCopy>
                                    <b>คัดลอก</b>
                                </ng-template>
                                <ng-template #tipEdit>
                                    <b>แก้ไข</b>
                                </ng-template>
                                <ng-template #tipDelete>
                                    <b>ลบ</b>
                                </ng-template>
                                <div class="btn-group btn-group-div" role="group" aria-label="Basic example">
                                    <div *ngIf="checkedit==1">
                                        <button [popover]="myPopover" class="btn btn-info" *ngIf="IsCopy!=index" id="btnCopyShow{{index}}" triggers="mouseenter:mouseleave"
                                            [ngbTooltip]="tipCopy">
                                            <i class="fas fa-copy"></i>
                                        </button>
                                        <button class="btn btn-info" id="btnOkPicker{{index}}" *ngIf="IsCopy==index" (click)="copy(event.customer,event.day,event.waypoint,event.note,event.copycalendar,index, event.status)">
                                            <i class="fas fa-check"></i>
                                        </button>
                                        <popover-content #myPopover [closeOnClickOutside]="true" placement="left" [animation]="true">
                                            <dp-date-picker id="aaaaaaa" theme="dp-material" [(ngModel)]="event.copycalendar" [config]="datePickerConfig"></dp-date-picker>
                                            <!-- <button (click)="copy(event.day,event.waypoint,event.note,event.copycalendar)">copy</button> -->
                                        </popover-content>
                                    </div>
                                    <button *ngIf="event.status=='draft'" type="button" class="btn btn-warning" (click)="editmode(index,event.date)" triggers="mouseenter:mouseleave"
                                        [ngbTooltip]="tipEdit">
                                        <i class="fas fa-pencil-alt"></i>
                                    </button>
                                    <div *ngIf="event.status=='draft'">
                                        <button *ngIf="checkedit==1" type="button" class="btn btn-danger" (click)="delete(event)" triggers="mouseenter:mouseleave"
                                            [ngbTooltip]="tipDelete">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form">
                            <div class="form-row" style="margin-top:5px">
                                <div class="col-md-1 col-2 text-center">
                                    <div class="align-middle">
                                        <label class="control-label">
                                            <div style="color:#474544">
                                                <i class="fas fa-user fa-lg"></i>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-10" *ngIf="Isedit != index" style="margin-top:5px">
                                    <div class="text-left">
                                        <p class="form-control-static">{{event.customer}}</p>
                                    </div>
                                </div>
                                <div class="col-md-3 col-10" *ngIf="Isedit==index" style="margin-top:5px">
                                    <div class="text-left">
                                        <input type="text" id="event.customer" [ngbTypeahead]="search_cus" [(ngModel)]="event.customer" name="event.customer" value="{{event.customer}}"
                                            placeholder="ลูกค้า" />
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="Isedit!=index">
                                <div *ngFor="let detail of event.waypoint; let i_edit = index">
                                    <div class="form-row">
                                        <div class="col-md-1 col-2 text-center">
                                            <div class="align-middle">
                                                <label class="control-label">
                                                    <div style="color:#474544" *ngIf="i_edit==0">
                                                        <i class="fas fa-home fa-lg"></i>
                                                    </div>
                                                    <div style="color:#474544" *ngIf="i_edit!=0">
                                                        <i class="fas fa-map-marker-alt fa-lg"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-10 text-left">
                                            <p *ngIf="Isedit!=index" class="form-control-static">{{detail.waypoint}}</p>
                                        </div>
                                        <div class="col-md-1 col-2 text-center">
                                            <div class="align-middle">
                                                <label class="control-label">
                                                    <div style="color:#474544" *ngIf="i_edit!=0">
                                                        <i class="fas fa-car fa-lg"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-3 text-right">
                                            <p *ngIf="Isedit!=index&&i_edit!=0" class="form-control-static">{{detail.car}}</p>
                                        </div>
                                        <div class="col-md-1 col-2 text-center">
                                            <div class="align-middle">
                                                <label class="control-label">
                                                    <div style="color:#474544" *ngIf="i_edit!=0">
                                                        <i class="fas fa-road fa-lg"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-3 text-right">
                                            <p *ngIf="Isedit!=index&&i_edit!=0" class="form-control-static">{{detail.free}}</p>
                                        </div>
                                    </div>
                                    <div class="col-12" *ngIf="i_edit!=0">
                                        <br/>
                                    </div>
                                </div>
                            </div>
                            <div [dragula]='"another-bag"' [dragulaModel]='event.waypoint' *ngIf="Isedit==index">
                                <div *ngFor="let detail of event.waypoint; let i_edit = index">
                                    <div class="form-row">
                                        <div class="col-md-1 col-2 move text-center">
                                            <div class="align-middle">
                                                <label class="control-label">
                                                    <div style="color:#474544" *ngIf="i_edit==0">
                                                        <i class="fas fa-home fa-lg move"></i>
                                                    </div>
                                                    <div style="color:#474544" *ngIf="i_edit!=0">
                                                        <i class="fas fa-map-marker-alt fa-lg move"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <ng-template #rt let-r="result" let-t="term">
                                            <div *ngFor="let res of r; let i = index" style="display:inline-block;">&nbsp;{{res.waypoint}}&nbsp;
                                                <i class="fas fa-arrow-right" *ngIf="r.length-1!=i"></i>
                                            </div>
                                        </ng-template>
                                        <div class="col-md-3 col-10">
                                            <!-- <p *ngIf="Isedit!=index" class="form-control-static">{{detail.waypoint}}</p> -->
                                            <input type="text" id="waypoint{{i_edit}}" name="waypoint{{i_edit}}" [(ngModel)]="detail.waypoint" (ngModelChange)="autocomplete_detail_change(event.waypoint, detail.waypoint, i_edit)"
                                                *ngIf="Isedit==index" placeholder="สถานที่" [ngbTypeahead]="search_tran" [resultTemplate]="rt">
                                        </div>
                                        <div class="col-md-1 col-2 move text-center">
                                            <div class="align-middle">
                                                <label class="control-label">
                                                    <div style="color:#474544" *ngIf="i_edit!=0">
                                                        <i class="fas fa-car fa-lg move"></i>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-3">
                                            <!-- <p *ngIf="Isedit!=index&&i_edit!=0" class="form-control-static">{{detail.car}}</p> -->
                                            <input *ngIf="Isedit==index&&i_edit!=0" type="number" id="car{{i_edit}}" name="car{{i_edit}}" max="9999" min="0" [(ngModel)]="detail.car"
                                                placeholder="ค่ารถ" style="text-align:right">
                                        </div>
                                        <div class="col-md-1 col-2 move">
                                            <label class="control-label">
                                                <div style="color:#474544" *ngIf="i_edit!=0">
                                                    <i class="fas fa-road fa-lg move"></i>
                                                </div>
                                            </label>
                                        </div>
                                        <div class="col-md-2 col-3">
                                            <!-- <p *ngIf="Isedit!=index&&i_edit!=0" class="form-control-static">{{detail.free}}</p> -->
                                            <input *ngIf="Isedit==index&&i_edit!=0" type="number" id="free{{i_edit}}" name="free{{i_edit}}" max="9999" min="0" [(ngModel)]="detail.free"
                                                placeholder="ค่าทางด่วน" style="text-align:right">
                                        </div>

                                        <button class="btn btn-link" (click)="deleterow_edit(index, i_edit)" *ngIf="i_edit>1">
                                            <i class="fas fa-times fa-lg"></i>
                                        </button>

                                    </div>

                                </div>
                            </div>

                            <div class="form-row" *ngIf="Isedit==index">
                                <div class="col-md-1 col-2 text-center">
                                    <button type="button" class="btn btn-link" (click)="addRowEvent(index)" style="padding-left: 0px">
                                        <span class="fa-layers fa-fw">
                                            <i class="fas fa-map-marker-alt  fa-lg" style="color:green"></i>
                                            <i class="fas fa-plus fa-lg" data-fa-transform=" right-12 up-8" style="color:red"></i>
                                        </span>
                                        &nbsp;&nbsp;เพิ่มสถานที่
                                    </button>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-1 col-2 text-center">
                                    <div class="align-middle">
                                        <label class="control-label">
                                            <div style="color:#474544">
                                                <i class="fas fa-sticky-note  fa-lg"></i>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-10 col-10" *ngIf="Isedit != index" style="margin-top:5px">
                                    <div class="text-left" *ngIf="event.note">
                                        <p class="form-control-static">{{event.note}}</p>
                                    </div>
                                    <div class="text-left" *ngIf="!event.note">
                                        <p class="form-control-static">ไม่ได้ระบุหมายเหตุ</p>
                                    </div>
                                </div>
                                <div class="col-md-10 col-10" *ngIf="Isedit==index" style="margin-top:5px">
                                    <div class="text-left">
                                        <textarea id="event.note" name="event.note" placeholder="หมายเหตุ" required value="{{event.note}}" [(ngModel)]="event.note"
                                            rows="4" cols="50"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row" *ngIf="Isedit==index">
                                <div class="col-md-1 col-2 text-center">
                                    <label class="control-label">
                                        <div style="color:#474544">
                                            <i class="fas fa-paperclip fa-lg"></i>
                                        </div>
                                    </label>
                                </div>
                                <div>
                                    <!-- id="form_button" -->
                                    <label class="btn btn-outline-primary col-md-12 col-12">
                                        เลือกไฟล์
                                        <input type="file" hidden (change)="SelectedFileOnEdit($event,event)" multiple [(ngModel)]="file2">
                                    </label>
                                </div>
                                <div>
                                    <div *ngFor="let file2 of filename2">
                                        <div style="margin-left:20px">
                                            {{file2}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="Isedit==index">
                                <div *ngFor="let file of event.filename; let i = index">
                                    <a href="http://apps.softsquaregroup.com/uploader/api/Download?ProjectCode=PJ001&ResultID={{file.FileID}}">{{file.FileName}}</a>
                                    <button class="btn btn-link" (click)="deletefile(index, i,file.FileID)" *ngIf="Isedit==index">
                                        <i class="fas fa-times fa-lg"></i>
                                    </button>
                                    <br/>
                                </div>
                            </div>
                            <div class="form-row" *ngIf="Isedit!=index">
                                <div class="col-md-1 col-2 text-center">
                                    <label class="control-label">
                                        <div style="color:#474544">
                                            <i class="fas fa-paperclip fa-lg"></i>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-md-11" *ngIf="event.filename">
                                    <div *ngFor="let file of event.filename; let i = index">
                                        <a href="http://apps.softsquaregroup.com/uploader/api/Download?ProjectCode=PJ001&ResultID={{file.FileID}}">{{file.FileName}}</a>
                                        <button class="btn btn-link" (click)="deletefile(index, i,file.FileID)" *ngIf="Isedit==index">
                                            <i class="fas fa-times fa-lg"></i>
                                        </button>
                                        <br/>
                                    </div>
                                </div>
                                <div class="col-md-11 col-10" *ngIf="!event.filename">
                                    <p class="form-control-static">ไม่มีไฟล์แนบ</p>
                                </div>
                            </div>
                            <div class="form-row justify-content-end">
                                <div class="col-md-1 col-2">
                                    <label class="control-label">
                                        <div style="color:#474544">
                                            <i class="fas fa-money-bill-alt fa-lg"></i>
                                        </div>
                                    </label>
                                </div>
                                <div class="col-md-2 col-3">
                                    <p class="form-control-static">{{total_money[index]}} บาท</p>
                                </div>
                            </div>
                            <!-- id="form_button" -->
                            <div *ngIf="Isedit==index" class="row justify-content-center" style="margin-top:10px">
                                <button (click)="update(event,index)" class="btn btn-outline-success col-md-2 col-4">บันทึก</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal of print() -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">เลือกข้อมูลที่ต้องการพิมพ์</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table>
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" value="" name="checkAll" [checked]="isAllChecked()" (change)="checkAll($event)">
                    </th>
                    <th>เลือกทั้งหมด</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of data_modal; let i = index">
                    <td>
                        <input type="checkbox" value="{{m.id}}" [(ngModel)]="m.state">
                    </td>
                    <td>{{m.docno}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="print()">พิมพ์</button>
        <button type="button" class="btn btn-outline-danger" (click)="c('Close click')">ปิด</button>
    </div>
</ng-template>