body{
    background: #EFF7FE;
  padding-top: 20px;
}

.profile-header{
	background-color: white;
	height:150px;
}

.user-detail{
margin:-50px 0px 30px 0px;
}
.user-detail img{
height:100px;
width:100px;
}
.user-detail h5{
margin:15px 0px 5px 0px;
}

.banklogo {
  width: 20px;
  height: 20px;
  // background: url('assets/banklogo/{{profile.bank.logo}}');
}