<i class="thbanks thbanks-rbs" aria-hidden="true"></i>
<i class="thbanks thbanks-ktb" aria-hidden="true"></i>
<div class="container col-md-4" *ngIf="n==1">
	<table class="table table-striped table-sm table-hover text-left">
		<thead>
			<tr>
				<th colspan="2" class="text-center">ข้อมูลส่วนตัว</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<i class="fas fa-user"></i>
					<b>ชื่อ-นามสกุล</b>
				</td>
				<td>{{profile.name}}</td>
			</tr>
			<tr>
				<td>
					<b>อีเมล์</b>
				</td>
				<td>{{profile.email}}</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-building">
					</i>
					<b>บริษัท</b>
				</td>
				<td>{{profile.company}}</td>
			</tr>
			<tr>
				<td>
					<b>แผนก/ฝ่าย</b>
				</td>
				<td>{{profile.department}}</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-home"></i>
					<b>บ้านเลขที่</b>
				</td>
				<td>{{profile.house_number}}</td>
			</tr>
			<tr>
				<td>
					<b>ถนน</b>
				</td>
				<td>{{profile.road}}</td>
			</tr>
			<tr>
				<td>
					<b>ตำบล</b>
				</td>
				<td>{{profile.sub_district}}</td>
			</tr>
			<tr>
				<td>
					<b>อำเภอ</b>
				</td>
				<td>{{profile.district}}</td>
			</tr>
			<tr>
				<td>
					<b>จังหวัด</b>
				</td>
				<td>{{profile.province}}</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-phone"></i>
					<b>โทร</b>
				</td>
				<td>{{profile.tel}}</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-credit-card"></i>
					<b>บัตรประชาชน</b>
				</td>
				<td>{{profile.id_card}}</td>
			</tr>
			<tr>
				<td>
					<b>หัวหน้า</b>
				</td>
				<td>{{profile.managerid}}</td>
			</tr>
			<tr>
				<td>
					<b>รหัสพนักงาน</b>
				</td>
				<td>{{profile.id_employee}}</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-money-bill-alt" aria-hidden="true"></i>
					<b>ธนาคาร</b>
				</td>
				<td>
					<p *ngIf="profile.bank">

						<img class="banklogo" src="http://apps.softsquaregroup.com/SSeXpenseWeb/assets/banklogo/{{profile.bank.logo}}" />{{profile.bank.name}}
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<b>สาขา</b>
				</td>
				<td>{{profile.branch_bank}}</td>
			</tr>
			<tr>
				<td>
					<b>เลขบัญชี</b>
				</td>
				<td>{{profile.id_bank}}</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="form-row d-flex justify-content-center">
						<button class="btn btn-warning btn-sm" (click)="edit()">
							<i class="fas fa-edit"></i> แก้ไข</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container col-md-4" *ngIf="n==0">
	<table class="table table-striped table-sm table-hover text-left">
		<thead>
			<tr>
				<th colspan="2" class="text-center">แก้ไขข้อมูลส่วนตัว</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<i class="fas fa-user"></i>
					<b>ชื่อ-นามสกุล</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.name" name="name" placeholder="ชื่อ-นามสกุล">
				</td>
			</tr>
			<tr>
				<td>
					<b>อีเมล์</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.email" name="email" placeholder="example@softsquaregroup.com">
				</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-building">
					</i>
					<b>บริษัท</b>
				</td>
				<td>
					<select [(ngModel)]="profile.company" class="col-md-12 custom-select">
						<option *ngFor="let comp of company" value="{{comp.name_company}}">{{comp.name_company}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<b>แผนก/ฝ่าย</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.department" name="department" placeholder=".NET">
				</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-home"></i>
					<b>บ้านเลขที่</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.house_number" name="house_number" placeholder="123 หมู่ 4">
				</td>
			</tr>
			<tr>
				<td>
					<b>ถนน</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.road" name="road" placeholder="พหลโยธิน">
				</td>
			</tr>
			<tr>
				<td>
					<b>ตำบล</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.sub_district" name="sub_district" placeholder="หลักหก">
				</td>
			</tr>
			<tr>
				<td>
					<b>อำเภอ</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.district" name="district" placeholder="เมืองปทุมธานี">
				</td>
			</tr>
			<tr>
				<td>
					<b>จังหวัด</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.province" name="province" placeholder="ปทุมธานี">
				</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-phone"></i>
					<b>โทร</b>
				</td>
				<td>
					<input type="text" minlength="9" maxlength="15" class="form-control" [(ngModel)]="profile.tel" name="tel" placeholder="0123456789,029972000">
				</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-credit-card"></i>
					<b>บัตรประชาชน</b>
				</td>
				<td>
					<input type="text" maxlength="13" class="form-control" [(ngModel)]="profile.id_card" name="department" placeholder="1234567891011">
				</td>
			</tr>
			<tr>
				<td>
					<b>หัวหน้า</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.managerid" name="managerid" placeholder="{{this.uid}}">
				</td>
			</tr>
			<tr>
				<td>
					<b>รหัสพนักงาน</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.id_employee" name="id_employee" maxlength="5" placeholder="12345">
				</td>
			</tr>
			<tr>
				<td>
					<i class="fas fa-money-bill-alt" aria-hidden="true"></i>
					<b>ธนาคาร</b>
				</td>
				<td>
					<!-- <ng-template #rt let-r="result" let-t="term">
						<img class="banklogo" [src]="'http://apps.softsquaregroup.com/SSeXpenseWeb/assets/banklogo/'+r['logo']"> {{r.name}}
					</ng-template>
					<input type="text" class="form-control" [(ngModel)]="profile.bank" name="bank" [ngbTypeahead]="search" [resultTemplate]="rt"
					 [inputFormatter]="formatter" /> -->
					<!-- {{profile.bank.name | json}} -->
					<!-- [(ngModel)] = "profile.bank" -->
					<!-- [(ngModel)]="profile.bank.name" -->
					<select *ngIf="profile.bank" class="col-md-12 custom-select" [(ngModel)]="profile.bank.name" (change)="selectbank()">
						<option *ngFor="let bank of logoBankTH"> {{bank.name}}</option>
					</select>
					<select *ngIf="!profile.bank" class="col-md-12 custom-select" [(ngModel)]="profile.bank" (change)="selectbank()">
						<option *ngFor="let bank of logoBankTH"> {{bank.name}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<b>สาขา</b>
				</td>
				<td>
					<input type="text" class="form-control" [(ngModel)]="profile.branch_bank" name="branch_bank" placeholder="ฟิวเจอร์รังสิต">
				</td>
			</tr>
			<tr>
				<td>
					<b>เลขบัญชี</b>
				</td>
				<td>
					<input type="text" maxlength="12" class="form-control" [(ngModel)]="profile.id_bank" name="id_bank" placeholder="123456789123">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="form-row d-flex justify-content-center">
						<button class="btn btn-success btn-sm" (click)="save(profile)">
							<i class="fas fa-save"></i> บันทึก</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>