<div class=" container-fluid background bg-image" >
  <div class="row d-flex justify-content-center">
    <span class="input" style="margin-top:15px">
      <input type="text" [(ngModel)]="value" placeholder="กรอกสถานที่หรือบริษัท" [ngbTypeahead]="autocomplete" style="margin:5px"
        class="col-md-5">
      <span></span>
    </span>
    <button type="button" class="btn btn-danger" (click)="checkin()" style="margin-top:15px">
      <i class="fas fa-map-marker-alt"></i> Check in
    </button>
  </div>
<!-- Labtop -->
  <div class="page">
    <div class="page__demo">
      <div class="main-container page__container">
        <div class="timeline">
          <div class="timeline__group">
            <span class="timeline__year">{{date | date: 'yyyy'}}</span>
            <div class="timeline__box" *ngFor="let user of show_user; let i = index">
              <div class="timeline__date">
                <span class="timeline__day">{{user.place.date | date: 'd'}}</span>
                <span class="timeline__month">{{user.place.date | date: 'MMMM'}}</span>
              </div>
              <div class="timeline__post">
                <div class="timeline__content">
                  <p>
                    <b>{{user.name}}</b>
                  </p>
                  <p>ไปพบลูกค้าที่
                    <b>{{user.place.waypoint[user.place.waypoint.length-1].waypoint}}</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
